/*
STATIC VERSION
*/

/* RESET AND VARS */
@import 'partials/base';


/* ==============================
   IMPORTS
   ============================== */

/* PARTIALS */
@import 'partials/type';
@import 'partials/layout';
@import 'partials/elements';
// @import 'partials/forms';
// @import 'partials/brandbar';
// @import 'partials/globalnav';
// @import 'partials/actionbar';
// @import 'partials/footer';
// @import 'partials/sitebar';
// @import 'partials/breadcrumbs';
// @import 'partials/localnav';
// @import 'partials/search';
@import 'partials/stage';
// @import 'partials/404';
// @import 'partials/widgetareas';
// @import 'partials/archives';
@import 'partials/posts';
@import 'partials/displayposts';
// @import 'partials/comments';
// @import 'partials/tags';
@import 'partials/oembeds';
@import 'partials/galleries';
// @import 'partials/events';
@import 'partials/featimages';
@import 'partials/lightbox';
@import 'partials/programfinder';
@import 'partials/people';

/* COMPONENT LIBRARY */
@import 'partials/cl/boxouts';
@import 'partials/cl/buttons';
@import 'partials/cl/cards';
@import 'partials/cl/countdowns';
@import 'partials/cl/heroes';
@import 'partials/cl/metrics';
@import 'partials/cl/notices';
@import 'partials/cl/overlays';
@import 'partials/cl/panels';
@import 'partials/cl/quotes';
@import 'partials/cl/share';
@import 'partials/cl/slideshows';
@import 'partials/cl/videos';

p {
    font-family: 'Charter', Georgia, 'Times New Roman', serif;
    line-height: 1.875;
    margin: 0 0 2rem;
    max-width: 750px;
}

/* RichText doesn't create the same markup, so we need to re-style card text */
.cl-card-text div {
  line-height: 1.875;
}

.block-editor-writing-flow {
    background-color: $lightgrey;
}
.wp-block {
    max-width: $break3;

    // &[data-align="wide"] {
    // 	max-width: $content__width--wide;
    // }

    &[data-align="full"] {
        max-width: none;
    }
}

.editor-post-title__block {
    color: $black;
    font-family: $type-header;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;

    textarea {
        font: inherit;
    }

    //.editor-post-title__input {
    //}
}
