/*
STATIC VERSION
*/

/* RESET AND VARS */
@import 'partials/base';


/* ==============================
   IMPORTS
   ============================== */

/* PARTIALS */
@import 'partials/type';
@import 'partials/layout';
@import 'partials/elements';
// @import 'partials/forms';
// @import 'partials/brandbar';
// @import 'partials/globalnav';
// @import 'partials/actionbar';
// @import 'partials/footer';
// @import 'partials/sitebar';
// @import 'partials/breadcrumbs';
// @import 'partials/localnav';
// @import 'partials/search';
@import 'partials/stage';
// @import 'partials/404';
// @import 'partials/widgetareas';
// @import 'partials/archives';
@import 'partials/posts';
@import 'partials/displayposts';
// @import 'partials/comments';
// @import 'partials/tags';
@import 'partials/oembeds';
@import 'partials/galleries';
// @import 'partials/events';
@import 'partials/featimages';
@import 'partials/lightbox';
@import 'partials/programfinder';
@import 'partials/people';

/* COMPONENT LIBRARY */
@import 'partials/cl/boxouts';
@import 'partials/cl/buttons';
@import 'partials/cl/cards';
@import 'partials/cl/countdowns';
@import 'partials/cl/heroes';
@import 'partials/cl/metrics';
@import 'partials/cl/notices';
@import 'partials/cl/overlays';
@import 'partials/cl/panels';
@import 'partials/cl/quotes';
@import 'partials/cl/share';
@import 'partials/cl/slideshows';
@import 'partials/cl/videos';

p {
    font-family: Charter, Georgia, serif;
    line-height: 1.875;
    margin: 0 0 2rem;
    max-width: 750px;
}

.editor-styles-wrapper {
	line-height: 1.2;
}

.components-placeholder.editor-media-placeholder {
	.components-placeholder__instructions {
		font-size: .875rem;
		margin: .5rem;
	}
}

/* RichText doesn't create the same markup, so we need to re-style card text */
.cl-card-text div {
  line-height: 1.875;
}

.block-editor-writing-flow {
    background-color: $lightgrey;
}
.wp-block {
    max-width: $break3;

    // &[data-align="wide"] {
    // 	max-width: $content__width--wide;
    // }

    &[data-align="full"] {
        max-width: none;
    }
}

.editor-post-title__block {
    color: $black;
    font-family: $type-header;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;

    textarea {
        font: inherit;
    }

    //.editor-post-title__input {
    //}
}

.cl-button textarea, textarea.cl-button {
    border-radius: 0;
    font-family: "Hind", sans-serif !important;
    text-transform: uppercase;
    background-color: transparent !important;
}

/** QUOTES **/
.cl-quote {
    font-family: Charter, Georgia, serif;
    textarea {
        font: inherit;
    }
    cite textarea {
        position: relative;
        top: .375rem;
    }
    .cl-quote-image img {
        border-radius: 50%;
    }
    .editor-media-placeholder {
        display: none;
    }
    &.selected {
        .editor-media-placeholder {
            display: block;
        }
    }
}

/** METRICS **/
.cl-metric {
    textarea, span {
        text-align: center;
    }
    &.right, &.left {
        position: relative;
        width: 35%;
        z-index: 5;
    }
    &.dark textarea {
        color: #fff;
    }
}



/** BUTTONS **/
.cl-button {
    font-size: .85rem;
    font-weight: 700;
    padding: 1rem;
    text-transform: uppercase;
    textarea {
        border-radius: 0;
        color: $black;
        display: block;
        height: 1rem;
        letter-spacing: .1rem;
        margin: 0;
        padding: 2px 0 0;
        text-align: center;
    }
    &.prominent textarea, &:hover textarea {
        color: #fff;
    }
    &.disabled textarea {
        color: rgba(0,0,0,0.4);
        font-weight: 400;
    }
}
.cl-button, .cl-button:visited {
    text-decoration: none !important;
}