/* ==============================
   RESET
   ============================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
blockquote, q { quotes: none; }
ol, ul { list-style: none; }
body { line-height: 1; }
table { border-collapse: collapse; border-spacing: 0; }

[hidden] {
    display: none;
}


/* ==============================
   BREAKPOINTS
   ============================== */

$break0: 420px; // Special sub-mobile cases
$break1: 600px; // Catch phones/phablets (default, most of the time...)
$break2: 800px; // Catch small tablets
$break3: 1000px; // Catch full displays/large tablets


/* ==============================
   COLORS
   ============================== */

$lightblue: #c0ddf2;
$keaneyblue: #2277b3;
$midblue: #30557e;
$blue: #002147;
$darkblue: #001228;

$lightgold: #fefada;
$midgold: #ffd453;
$gold: #c4960c;

$white: #ffffff;
$lightgrey: #fafafa;
$grey: #dddddd;
$midgrey: #999999;
$darkgrey: #555555;
$black: #000000;

$link: #0047c2;
$linkhover: #003287;

$accentblue: #057fd4;

/* ==============================
   FAWNTS
   ============================== */
$sans: 'Hind', Arial, sans-serif;
$serif: Charter, Georgia, Serif;

/* ==============================
   EASING (see http://easings.net)
   ============================== */

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);


/* ==============================
   IMPORTS
   ============================== */

/* PARTIALS */
@import 'partials/type';
@import 'partials/layout';
@import 'partials/elements';
@import 'partials/brandbar';
@import 'partials/footer';
@import 'partials/sitebar';
@import 'partials/breadcrumbs';
@import 'partials/localnav';
@import 'partials/404';
@import 'partials/posts';
@import 'partials/queryposts';
@import 'partials/oembeds';
@import 'partials/galleries';
@import 'partials/events';

/* PIECES */
@import 'partials/pieces/programfinder';