/* ======= BUTTONS ======= */

a.cl-button,
span.cl-button {

	font-family: $type-sans;
	font-size: .8rem;
	font-weight: 700;
	letter-spacing: .1rem;
	text-transform: uppercase;
	color: var(--uri-modern-link-color);
	transition: all .2s ease-in-out;
	text-shadow: none;
	border-radius: .2rem;
	transform: translateY(0);
	border: none;
	box-shadow: $level1;

    &.prominent,
		&.prominent:hover,
    &.prominent:focus {
        background: $blue;
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
				box-shadow: none;
				transform: none;
        font-weight: 400;
        border-radius: .2rem;
				padding: calc(1rem - 1px);
    }

    &:hover,
    &:focus {
				background: $white;
				color: var(--uri-modern-link-color);
				border: none;
				box-shadow: $level2;
				transform: translateY(-2px);
    }

		&:active {
			box-shadow: $level3;
		}

}

.button-list .cl-button {

	display: block;
	clear: both;
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 2rem;
	}

}

[data-theme="dark"] body.honor-color-scheme {
	a.cl-button,
	span.cl-button {

		background: $black;
		border: 1px solid #2a2a2a;
		box-sizing: border-box;

		&:hover,
    &:focus {
			background: $black;
			border: 1px solid #2a2a2a;
    }

		&.prominent,
		&.prominent:hover,
    &.prominent:focus {
        background: #2277b3;
				border: 1px solid #2277b3;
    }

		&.disabled,
    &.disabled:hover,
    &.disabled:focus {
        background: #1a1a1a;
				color: #888;
    }

	}
}
