/* ======= GUTENBERG EDITOR ======= */

/** BUTTONS **/

.cl-button {

  font-size: .85rem;
  font-weight: 700;

  textarea {
    font-family: "Hind", sans-serif !important;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  &.prominent {

    textarea {
      color: $white;
    }

    textarea::placeholder {
      color: rgba(255,255,255,.5);
    }

  }

}

/** CARDS **/

.cl-card .cl-card-text div {
	font-size: 1rem;
}

/** HEROES **/
.cl-hero.no-image {
  background-color: $blue;
}

/** QUOTES **/
.cl-quote {
  font-family: Charter, Georgia, serif;
}
