/* ======= MENUS ======= */

.cl-menu {

  font-family: $type-sans;
  font-size: .9rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  letter-spacing: .1rem;

  span.cl-menu-toggle {
    padding: 1.2rem 1rem 1rem;
  }

  span.cl-menu-toggle:after {
    right: 1rem;
    top: 1.3rem;
    width: 8px;
    height: 8px;
    border: none;
    background-image: url('images/close.svg');
    background-position: 0 -32px;
    background-size: 8px auto;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
    transition: transform .2s ease-in-out;
  }

  span.cl-menu-toggle:hover:after,
  span.cl-menu-toggle:focus:after,
  span.cl-menu-toggle.active:after {
    border: none;
    background-position: 0 -16px;
  }

  span.cl-menu-toggle.active:after {
    top: 1.3rem;
    transform: rotate(0);
  }

  ul.cl-menu-list {

    span.cl-menu-arrow {
      right: 1rem;
      top: 1.12rem;
      width: 8px;
      height: 8px;
      border: none;
      background-image: url('images/close.svg');
      background-position: 0 -8px;
      background-size: 8px auto;
      background-repeat: no-repeat;
      transform: rotate(-45deg);
      transition: transform .2s ease-in-out;
    }

    a {
      color: #333;
      padding: .8rem 1.2rem .6rem;
    }

    a:hover,
    a:focus {

       background: #e3e3e3;
       color: #333;

      & ~ span.cl-menu-arrow {
        border: none;
        //background-position: 0 -16px;
      }

    }

    ul a {
      font-weight: 400;
      color: $black;
      letter-spacing: initial;
      text-transform: initial;
    }

    ul.reveal ~ span.cl-menu-arrow {
      transform: rotate(0);
      top: 1.12rem;
    }

  }

}

[data-theme="dark"] {
  .cl-menu {
    span.cl-menu-toggle {
      background: #333;
      color: #fff;
    }
    ul.cl-menu-list ul li:not(:first-child) {
      border-top: 1px solid #333;
    }
  }
}

@media screen and (min-width: $break1) {

  .cl-menu {

    ul.cl-menu-list {

      ul {

        box-shadow: $level2;
        border-radius: 0 0 .2rem .2rem;
        margin-top: 0;

        /*
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: -6px;
          left: 1rem;
          width: 0;
          height: 0;
          border-bottom: 6px solid #fff;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
        */

        li:first-child {
          //border-radius: .2rem .2rem 0 0;
          overflow: hidden;
        }

        li:last-child {
          border-radius: 0 0 .2rem .2rem;
          overflow: hidden;
        }

      }

      a.cl-menu-trigger {
        padding-right: 2.5rem;
      }

    }

  }

}
