/* ======= NOTICES ======= */

.cl-notice {

    background: $lightblue;
    border-radius: .25rem;
    border: 1px solid #88b6d1;

    &:before {
      position: absolute;
      left: 0;
      top: 1.8rem;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-left: 12px solid #88b6d1;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
    }

    &.urgent {

      background: $midgold;
      border: 1px solid #d2a400;
      color: $black;

      h1 {
        color: $black;
      }

      &:before {
        border-left: 12px solid #d2a400;
      }

    }

    h1 {
      text-transform: none;
    }

    .dismiss {

      opacity: .5;
      transition: opacity .2s ease-in-out;

      &:hover,
      &:focus {
        opacity: 1;
      }

    }

}

#{$dark-scheme-selectors} {
  .cl-notice {
    background: $midblue;
  }
}
