/* ======= PANELS ======= */


.cl-panel {

  border-radius: .2rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  p,
  ul {
    font-size: 1.1rem;
    font-family: $type-sans;
  }

  a.cl-button,
  span.cl-button {
    margin-bottom: 2rem;
  }

}

[data-theme="dark"] body.honor-color-scheme, body.force-dark-color-scheme {
  .cl-panel {
    background: #333;
  }
}

@media screen and (min-width: $break2) {

  .cl-panel {

    h1 {
  		font-size: 2.5rem;
  		margin-bottom: 2.5rem;
  	}

    p,
    ul {
      font-size: 1.2rem;
    }

    a.cl-button,
    span.cl-button {
      width: 100%;
      max-width: 100%;
    }

  }

}
