/* ======= PANELS ======= */


.cl-panel {

  border-radius: .2rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  p,
  ul {
    font-size: 1.1rem;
    font-family: $type-sans;
  }

  a.cl-button,
  span.cl-button {
    margin-bottom: 2rem;
  }

}

@media screen and (min-width: $break2) {

  .cl-panel {

    h1 {
  		font-size: 2.5rem;
  		margin-bottom: 2.5rem;
  	}

    p,
    ul {
      font-size: 1.2rem;
    }

    a.cl-button,
    span.cl-button {
      width: 100%;
      max-width: 100%;
    }

  }

}


/* SUPER PANELS */

.cl-panel-super {

	.cl-button {

	  background: none;
	  color: #fff;
	  max-width: 250px;
	  padding: .5rem;
	  border-radius: .2rem;

		&:hover,
		&:focus {
		  border: 1px solid transparent;
		  background: rgba(0,0,0,.5);
		}

	}

}
