/* ======= PROMOS ======= */

.cl-promo {

  .cl-promo-backdrop-wrapper {

    .cl-promo-backdrop.style-brand {
      background-color: $blue;
    }

  }

  .cl-promo-content {

    .cl-promo-img {

      .cl-promo-img-link img {
        border-radius: 3px;
        border: 1px solid rgba(255,255,255,.5);
      }

    }

  }

}
