/* ======= QUOTES ======= */

.cl-quote {

  padding: 2rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  blockquote {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  cite {
    color: $darkgrey;
    font-family: $type-sans;
  }

  cite:before {
    background: $darkgrey;
  }

}

[data-theme="dark"] body.honor-color-scheme, body.force-dark-color-scheme {
  .cl-quote {

    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

    cite {
      color: $midgrey;
    }

  }
}
