/* ======= VIDEOS ======= */


.cl-video {

    .overlay {
        border-radius: 0 0 .2rem .2rem;
    }

    h1 {
        position: relative;
        text-align: left;
        transform: all .2s ease-in-out;
        padding: 0;
        margin: 0;
        line-height: 1.2;
    }

    p {
        font-weight: 400;
        font-size: 0.9rem;
    }

    p:first-child {
        padding-top: 0;
    }

}

@media screen and (min-width: $break1) {
    .cl-video {
        .overlay {
            border-radius: .5rem;
            transition: opacity .2s ease-in-out, top .2s ease-in-out;
        }
        h1 {
            font-size: 1.6rem;
        }
        p {
            font-size: 1rem;
        }
        .cl-button,
        .cl-button:hover,
        .cl-button:focus {
            border: none;
        }
    }

    @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
        .cl-video .overlay { -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px); background-color: rgba(0,0,0,.5); }
    }
}

@media screen and (min-width: $break2) {
    .cl-video {
        h1 {
            font-size: 1.8rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
}
