/* ==============================
   404
   ============================== */

body.error404 h1.page-title {
	font-size: 2.5rem;
}

.content-404 {
	text-align: center;
}

#rhody404 {
    width: 150px;
    height: 150px;
    margin: 0 auto 2rem;
	border-radius: 50%;
	border: 1px solid $grey;
	background-color: #fff;
    background-image: url(images/404.png);
    background-position: center top;
    background-size: 100px auto;
    background-repeat: no-repeat;
}

@media all and (min-width: 600px) {
	body.error404 h1.page-title {
		font-size: 3rem;
	}
    #rhody404 {
        float: left;
		border: none;
		border-radius: 0;
		width: 150px;
    	height: 300px;
        margin: 0 50px 0 0;
		background-color: transparent;
		background-position: 0 0;
    	background-size: 150px auto;
    }
    .content-404 {
        width: calc(100% - 300px);
        float: left;
        padding-top: 2rem;
		text-align: left;
    }
    
    section.error-404:after {
        display: block;
        content: '';
        clear: both;
    }

}