/* ==============================
   BRANDBAR
   ============================== */

#brandbar {
    width: 100%;
    padding: 0;
    background: $white;
    border-bottom: 1px solid $grey;
}

#identity-print {
    display: none;
}

/* Global Search */

#globalsearch {
    position: relative;
    width: 100%;
    background: $keaneyblue;
}
    
#gs {
    height: 0px;
    transition: height .4s $easeInOutQuint;
}

#gsform-toggle:checked {
    & ~ #gs {
        height: 50px;
    }

    & ~ #gsform {
        top: 50px;
        background-color: $link;
        background-size: 50% auto;
    }
    
    & ~ #gsform:before {
        top: -11px;
        border-bottom: 11px solid $link;
    }

}

#gs-query {
    font-weight: 300;
    font-size: 1.5rem;
    height: 50px;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0;
    border: none;
    box-sizing: border-box;
    color: #fff;
    background: transparent;
    outline: none;
}

#gs-query::placeholder {
    color: #fff;
}

#gsform-toggle {
    display: none;
}

#gsform {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9997;
    height: 40px;
    width: 0;
    padding-left: 40px;
    background-color: transparent;
    background-image: url('images/search.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    transition: all .4s $easeInOutQuint;
}  

#gsform:before {
    content: '';
    display: block;
    z-index: 9997;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 0px solid $link;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transition: all .4s $easeInOutQuint;
}

#gsform:hover,
#gsform:focus {
    background-color: $link;
    cursor: pointer;
}

#gsform span {
    display: none;
}


/* Brand Bar */

#globalbanner {
    position: relative;
    width: 100%;
    background-color: #002147;
    background-image: url('images/campus-screen.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 500px;
    color: #fff;
    padding-left: 25px;
    box-sizing: border-box;
}

/* Global Navigation */

#globalnav {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: .7rem;
    letter-spacing: .05rem;
}

#globalnav:after {
    content: '';
    display: block;
    clear: both;
}

#identity {
    width: 0;
    height: 40px;
    padding-left: 220px;
    overflow: hidden;
    float: left;
    background-image: url('images/logo-inline-white.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 220px auto;
}

#gn {
    & {
        display: none;  
        list-style-type: none;
        overflow: hidden;
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 9996;
        width: 50%;
        padding-top: 1rem;
        background: #fff;
        border-radius: 0 0 0 .2rem;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        transition: right .2s ease-in-out;
    }
    li {
        margin: 0;
    }
    li:not(:first-child) {
        border-top: 1px solid #eee;
    }
    li a {
        display: block;
        padding: 1rem;
        font-size: .8rem;
        color: #000;
        transition: all .1s ease-in-out;
    }
    li a:hover {
        background: $blue;
        color: $white;
    }
    
} // #gn

#gnmenu-toggle {
    display: none;
}

#gnmenu {
    display: block;
    position: absolute;
    right: 40px;
    z-index: 9997;
    height: 40px;
    width: 0;
    padding-left: 40px;
    background-color: transparent;
    background-image: url('images/menu.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    transition: all .1s ease-in-out;
}   

#gnmenu:hover,
#gnmenu:focus {
    background-color: $link;
    cursor: pointer;
}

#gnmenu span {
    display: none;
}

#gnmenu-toggle:checked {
    & ~ #gnmenu {
        background-color: $link;
    }
    & ~ #gnmenu:after {
        content: '';
        display: block;
        z-index: 9997;
        position: absolute;
        top: 40px;
        left: 0;
        width: 0;
        height: 0;
        border-top: 11px solid $link;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }
    & ~ #gn {
        display: block;
    }
} // #gn-menu-toggle:checked

@media screen and (min-width: 420px) {
    #identity {
        padding-left: 300px;
        background-size: 275px auto;
    }
}

@media screen and (min-width: 640px) {
    
    #gnmenu-toggle:checked ~ #gn {
        width: 40%;
    }
    
}

@media screen and (min-width: 800px) {
    #globalnav {
        max-width: 1000px;
    }
    
    #gnmenu-toggle:checked ~ #gn, #gn {
    
        & {
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            background: transparent;
            display: block;
            padding-top: 0;
            margin: 0 0 0 1rem;
            float: left;
            box-shadow: none;
        }

        li {
            display: inline-block;
            margin: 0 0 0 1vw;
        }
        
        li:not(:first-child) {
            border-top: none;
        }
        
        li a {
            font-size: inherit;
            height: 40px;
            line-height: 40px;
            color: #fff;
            padding: 0 1rem;
        }

        li a:hover,
        li a:focus {
            background: #fff;
            color: $blue;
        }

        li.multi a:after {
            content: '';
            display: inline-block;
            margin-left: 6px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid $white;
            transition: all .1s ease-in-out;
        }

        li.multi a:hover:after {
            border-top: 6px solid $blue;
        }

    } // #gnmenu-toggle:checked ~ #gn, #gn
    
    #gnmenu {
        display: none;
    }
    
    #gsform {
        background-size: 35% auto;
    }
    
} // min-width: 920px

@media screen and (min-width: 1050px) {
    #globalbanner {
        padding-left: 0;
    }
    #globalnav {
        margin: 0 auto;
    }
    #gs-query {
        padding: 0 calc((100vw - 1000px) / 2);
    }
    #gsform {
        margin-right: calc((100vw - 1000px) / 2);
    }
} // min-width: 1050px


/* PRINT */

@media print {
    #globalbanner,
    #localnav {
        display: none;
    }
    
    #identity-print {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 25px;
    }
} // @media print
