/* ==============================
   BRANDBAR
   ============================== */


#brandbar {
    width: 100%;
    padding: 0;
    background: $white;
    position: relative;
    z-index: 9990;
}

#identity-print {
    display: none;
}

.skip-link {
    position: absolute;
    left: -9999px;
}

/* Global Search */

#globalsearch {
    position: relative;
    width: 100%;
    background: $keaneyblue;
}

#gs {
    height: 0;
    transition: height .4s $easeInOutQuint;
    pointer-events: none;
}

#gsform-toggle:checked {
    & ~ #gs {
        height: 60px;
        pointer-events: auto;
    }

    & ~ #gsform {
        top: 60px;
        background-color: $link;
        background-size: 50% auto;
    }

    & ~ #gsform:before {
        top: -10px;
        border-bottom: 10px solid $link;
    }

}

#gs-query-label {
    position: absolute;
    left: -9999px;
}

#gs-query {
    font-weight: 300;
    font-size: 1.5rem;
    height: 60px;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0;
    border: none;
    box-sizing: border-box;
    color: #fff;
    background: transparent;
    outline: none;
}

#gs-query::placeholder {
    color: #fff;
}

#gsform-toggle {
    display: none;
}

#gsform {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9997;
    height: $brandbarheight;
    width: 0;
    padding-left: $brandbarheight;
    background-color: transparent;
    background-image: url('images/search.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40% auto;
    transition: top .4s $easeInOutQuint, background-size .4s $easeInOutQuint;
}

#gsform:before {
    content: '';
    display: block;
    z-index: 9997;
    position: absolute;
    top: 0;
    left: calc(#{$brandbarheight} / 5.5);
    width: 0;
    height: 0;
    border-bottom: 0 solid $link;
    border-left: calc(#{$brandbarheight} / 3) solid transparent;
    border-right: calc(#{$brandbarheight} / 3) solid transparent;
    transition: all .4s $easeInOutQuint;
}

#gsform:hover,
#gsform:focus {
    background-color: $link;
    cursor: pointer;
}

#gsform span {
    display: none;
}

#gs-submit {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}


/* Brand Bar */

#globalbanner-wrapper {
    position: relative;
    width: 100%;
    background-color: #002147;
    background-image: url('images/campus-screen.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 500px;
    color: #fff;
    padding-left: 25px;
    box-sizing: border-box;
}

/* Global Navigation */

#globalbanner {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-size: .9rem;
}

#globalbanner:after {
    content: '';
    display: block;
    clear: both;
}

#identity {
    width: 0;
    height: $brandbarheight;
    padding-left: 180px;
    overflow: hidden;
    float: left;
    background-image: url('images/logo-inline-white.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 180px auto;
}

#gateways-menu {

	display: none;
	list-style-type: none;
	overflow: hidden;
	position: absolute;
	top: $brandbarheight;
	right: 0;
	z-index: 9996;
	width: 220px;
	padding: 1.5rem 0 0;
	background: #fff;
	border-radius: 0 0 .2rem .2rem;
	box-shadow: $level2;
	transition: right .2s ease-in-out;

    li {
        margin: 0;
    }
    li a {
        display: block;
        padding: .5rem 1.5rem;
        color: #000;
        transition: all .1s ease-in-out;
    }
    li a:hover {
        background: $blue;
        color: $white;
    }

} // #gateways-menu

#gateways-toggle {
    display: none;
}

#gateways-label {
    display: block;
    position: absolute;
    right: calc(#{$brandbarheight} + 1px);
    z-index: 9997;
    height: $brandbarheight;
    line-height: calc(#{$brandbarheight} + 1px);
    padding: 0 .5rem;
    font-size: .8rem;
    font-weight: 600;
    background-color: transparent;
    transition: all .1s ease-in-out;
}

#gateways-label:hover,
#gateways-label:focus {
    background-color: $link;
    cursor: pointer;
}

#gateways-label span {
    padding-right: 1.2rem;
}

#gateways-label span:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(#{$brandbarheight} / 2 - 4px);
    right: 0.6rem;
    width: 8px;
    height: 8px;
    background-image: url('images/close.svg');
    background-position: 0 -16px;
    background-size: 8px auto;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
    transition: transform .2s $easeInOutQuart;
}

#gateways-toggle:checked {
    & ~ #gateways-label {
        background-color: $link;
    }
    & ~ #gateways-label:after {
        content: '';
        display: block;
        z-index: 9997;
        position: absolute;
        top: $brandbarheight;
        left: calc(50% - 12px);
        width: 0;
        height: 0;
        border-top: 10px solid $link;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }
    & ~ #gateways-label span:after {
        transform: rotate(0);
    }
    & ~ #gateways-menu {
        display: block;
    }
} // #gateways-toggle:checked

[data-theme="dark"] {

  #gateways-menu {

    background: #222;

    li a {

      color: #fff;

      &:hover,
      &:focus {
        background: var(--uri-modern-link-color);
      }

    }

  }

}

@media all and (min-width: 370px) {
    #identity {
        padding-left: 220px;
        background-size: 220px auto;
    }
    #gateways-label {
        padding: 0 1.1rem 0 1rem;
    }
    #gateways-label span {
        padding-right: 1.1rem;
    }
    #gateways-label span:after {
        right: 1rem;
    }
}

@media all and (min-width: 420px) {
    #identity {
        padding-left: 300px;
        background-size: 275px auto;
    }
}

@media all and (min-width: 800px) {
    #globalbanner {
        max-width: 1000px;
    }

    #gsform {
        background-size: 35% auto;
    }

} // min-width: 800px

@media all and (min-width: 1050px) {
    #globalbanner-wrapper {
        padding-left: 0;
    }
    #globalbanner {
        margin: 0 auto;
    }
    #gs-query {
        padding: 0 calc((100vw - 1000px) / 2);
    }
    #gsform {
        margin-right: calc((100vw - 1000px) / 2);
    }
    #gateways-menu {
        right: calc(#{$brandbarheight} + 1px);
    }
} // min-width: 1050px


/* PRINT */

@media print {
	#globalsearch,
    #globalbanner-wrapper,
    #localnav {
        display: none;
    }

    #identity-print {
        display: block;
    }
} // @media print
