/* ==============================
   SLIDESHOW
   ============================== */


.cl-slideshow {
    
    & * {
        box-sizing: border-box;
    }
    
    & {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        box-sizing: border-box;
    }
    
    .carousel-wrapper {
        
        & {
            position: relative;
            width: 100%;
            height: 500px;
            overflow: hidden;
            background: #eee;
            border-radius: .2rem;
        }
        
        ul {
            position: relative;
            display: block;
            white-space: nowrap;
            margin: 0;
            width: 100%;
            height: 100%;
            list-style: none;
            transition: transform .4s cubic-bezier(0.77, 0, 0.175, 1);
        }
        
        li {
            display: inline-block;
            position: relative;
            margin: 0;
            width: 100%;
            height: 100%;
            max-width: 100%;
            text-align: center;
        }
        
        a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        img {
            height: 100%;
        }
        
        .motionswitch {
            
            & {
                position: absolute;
                right: 5%;
                top: 5%;
                z-index: 5;
                opacity: 0;
                width: 40px;
                height: 40px;
                background: #000;
                border: 1px solid #fff;
                border-radius: 50%;
                transition: all .3s ease-in-out;
            }
            
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 9px;
                left: 11px;
                height: 20px;
                border-style: solid;
                border-width: 0 0 0 6px;
                border-color: transparent transparent transparent #fff;
                transition: all .2s ease-in-out;
            }
            
            &:after {
                left: 21px;
            }
            
        } // .carousel .motionswitch

        
        &.paused .motionswitch {
            
            &:before {
                height: 10px;
                border-width: 5px 0 5px 10px;
                border-color: transparent transparent transparent #fff;
            }
            
            &:after {
                top: 14px;
                height: 0;
                border-width: 5px 0 5px 10px;
                border-color: transparent transparent transparent #fff;
            }
            
        } // .carousel.paused .motionswitch

        
        &:hover .motionswitch,
        &:focus .motionswitch {
            opacity: .4;
        }

        
        & .motionswitch:hover,
        & .motionswitch:focus {
            cursor: pointer;
            opacity: .8;
        }
        
    } // .cl-slideshow .carousel
    
    
    .navdots {
        
        & {
            display: block;
            margin: .5rem 0;
            list-style: none;
        }
        
        li {
            display: inline-block;
            width: 0;
            height: 0;
            position: relative;
            top: 0;
            padding: 9px 0 0 9px;
            margin: 0 10px;
            overflow: hidden;
            border-radius: 50%;
            background: #ddd;
            transition: all .2s ease-in-out;
        }
        
        li.active,
        li:hover,
        li:focus {
            top: 3px;
            margin: 0 7px;
            padding: 15px 0 0 15px;
            cursor: pointer;
            background: #555;
        }
        
    } // .cl-slideshow .navdots
    

} // .cl-slideshow