/* ==============================
   COMMENTS
   ============================== */

#comments {
	
	width: 100%;
	max-width: 800px;
	margin: 4rem auto 0;
	background: #eee;
	border-radius: .4rem;
	border: 1px solid #eee;
	overflow: hidden;
	
	ol {
		list-style-type: none;
	}
	
	.comments-title {
		border-bottom: 1px solid $grey;
		font-weight: 400;
		max-width: initial;
		padding: 1rem;
	}
	
	.comment-list {
		margin: 0;
		padding: 0 1rem;
	}
	
	.comment-body {
		background: #fff;
		padding: 1rem;
		font-size: 1rem;
		margin: 1rem 0;
		border: 1px solid $grey;
	}
	
	.comment-metadata {
		
		font-size: .8rem;
		padding: .5rem 0;
		border-bottom: 1px solid $grey;
		
		a {
			position: relative;
			color: $darkgrey;
			padding-left: 12px;
		}
		
		a:before {
			position: absolute;
			top: calc( 50% - 5px );
			display: block;
			content: '';
			width: 9px;
			height: 9px;
			background-image: url(images/comments-sprite.png);
			background-repeat: no-repeat;
			background-position: -24px center;
			background-size: auto 9px;
		}
		
		a:hover,
		a:focus {
			
			color: $link;
			
			&:before {
				background-position: -33px center;
			}
			
		}
		
	}
	
	.comment-author {
		
		.avatar {
			border-radius: 2px;
		}
		
		.fn {
			padding-left: .5rem;
		}
		
	}
	
	.comment-content {
		padding: 1rem 0 0;
	}
	
	.reply a {
		position: relative;
		font-size: .8rem;
		color: $darkgrey;
		padding: 3px 10px 1px 24px;
		border: 1px solid $grey;
		border-radius: 2px;
		transition: all .1s ease-in-out;
	}
	
	.reply a:before {
		position: absolute;
		top: calc( 50% - 5px );
		left: 7px;
		display: block;
		content: '';
		width: 12px;
		height: 9px;
		background-image: url(images/comments-sprite.png);
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: auto 9px;
	}
		
	.reply a:hover,
	.reply a:focus {
		
		color: #fff;
		background: $linkhover;
		border: 1px solid $linkhover;
		
		&:before {
			background-position: -12px center;
		}
		
	}
	
	.children {
		border-left: 1px solid $grey;
		padding-left: 1rem;
		margin: 0 0 2rem .2rem;
	}
	
	.comment-navigation {
		
		font-size: .8rem;
		
		.nav-links:after {
			display: block;
			content: '';
			clear: both;
		}
		
		.nav-links a {
			color: #fff;
			background: $darkgrey;
			border-radius: 2px;
			transition: background .1s ease-in-out;
		}

		.nav-links a:hover,
		.nav-links a:focus {
			background: $black;
		}
		
		.nav-previous {
			
			float: left;
			position: relative;
			
			a {
				padding: 3px 10px 1px 20px;
			}
			
			a:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				top: calc(50% - 5px);
				left: 6px;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-right: 8px solid #fff;
			}
			
		}
		
		.nav-next {
			
			float: right;
			position: relative;
			
			a {
				padding: 3px 20px 1px 10px;
			}
			
			a:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				top: calc(50% - 5px);
				right: 6px;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 8px solid #fff;
			}
			
		}
		
	}
	
	#comment-nav-above {
		padding: 0 1rem;
	}
	
	#comment-nav-below {
		padding: 1rem 1rem 2rem;
	}
	
	#respond {
		
		background: #fff;
		padding: 1rem;
		
		.comment-notes,
		.logged-in-as {
			font-size: .8rem;
		}
		
		.comment-form-comment {
			max-width: 100%;
		}
		
		label {
			color: $darkgrey;
		}
		
		input {
			display: block;
			box-sizing: border-box;
			width: 100%;
			max-width: 300px;
			padding: .5rem;
			font-size: 1rem;
		}
		
		#comment {
			display: block;
			box-sizing: border-box;
			width: 100%;
			border: 1px solid #ddd;
			padding: .5rem;
			font-size: 1rem;
		}
		
		#cancel-comment-reply-link {
			
			position: relative;
			bottom: 4px;
			font-size: .8rem;
			font-weight: 400;
			color: #fff;
			background: #d38381;
			padding: 4px 10px 4px 26px;
			border-radius: 2px;
			white-space: nowrap;
			transition: background .1s ease-in-out;
			
			&:before {
				position: absolute;
				top: calc( 50% - 6px );
				left: 7px;
				display: block;
				content: '';
				width: 12px;
				height: 12px;
				background-image: url(images/comments-sprite.png);
				background-repeat: no-repeat;
				background-position: -56px center;
				background-size: auto 12px;
			}
			
		}
		
		#cancel-comment-reply-link:hover,
		#cancel-comment-reply-link:focus {
			
			background: #c24338;
			
		}
		
		.form-submit {
			margin-bottom: 0;
		}
		
		.form-submit #submit {
			font-size: .8rem;
			font-weight: 400;
			max-width: initial;
			width: initial;
			color: #fff;
			background: $link;
			padding: 6px 10px;
			border-radius: 2px;
			border: none;
			transition: background .1s ease-in-out;
		}
		
		.form-submit #submit:hover,
		.form-submit #submit:focus {
			cursor: pointer;
			background: $linkhover;
		}
		
	}
	
	.comment>#respond {
		
		position: relative;
		margin-bottom: 2rem;
		background: #fff;
		border: 1px solid $grey;
		
		&:before {
			display: block;
			content: '';
			position: absolute;
			left: 1.9rem;
			top: -11px;
			width: 20px;
			height: 20px;
			background: #fff;
			border-top: 1px solid $grey;
			border-right: 1px solid $grey;
			transform: rotate(-45deg);
		}
		
	}
	
}

@media all and (min-width: 450px) {
	
	#comments #respond #cancel-comment-reply-link {
		margin-left: .5rem;
	}
	
}

@media all and (min-width: 600px) {
	
	#comments {
		
		.comments-title {
			padding: 2rem 2rem 1rem;
		}

		.comment-list {
			padding: 0 2rem;
		}
		
		.comment-body {
			margin: 2rem 0;
		}
		
		.children {
			padding-left: 2rem;
			margin: 0 0 2rem .5rem;
		}
		
		#comment-nav-above {
			padding: 0 2rem;
		}

		#comment-nav-below {
			padding: 1rem 2rem 2rem;
		}
		
		#respond {
			padding: 2rem;
		}
		
	}
	
}

@media print {
	#comments {
		display: none;
	}
}