/* ==============================
   COMPONENTS

   THEME-SPECIFIC STYLES FOR THE
   COMPONENT LIRBARY
   ============================== */

/* Boxouts */

.cl-boxout {

	h1 {
		font-size: 1.75rem;
		margin-bottom: 1.5rem;
	}

	p,
	ul {
		font-size: 1rem;
	}

}


/* Buttons */

.cl-button {
    font-family: $type-sans;
}


/* Cards */

.cl-card,
.cl-dcard,
.cl-scard {

    font-family: $type-sans;

    p {
        font-size: 1rem;
    }

}

.cl-scard  {

    .cl-scard-img-overlay span:before {
        top: -2px;
    }

    .cl-scard-category {

        text-transform: uppercase;

        &:hover,
        &:focus {
            color: inherit;
        }

        &-news {

            color: #e64646;

            &:after {
                border-bottom-color: #e64646;
            }

        }

        &-story {

            color: #1475a8;

            &:after {
                border-bottom-color: #1475a8;
            }

        }

    }

    .cl-scard-meta {
        margin-bottom: .7rem;
    }

    .cl-scard-date {
        font-weight: 300;
    }

}

/* Heroes */

body.home .cl-hero .block p {
	font-family: $type-sans;
}

/* Metrics */

.cl-metric {

    span:first-child {
        font-family: $type-numeric;
    }

    span:last-child {
        font-family: $type-sans;
    }

}

/* Share */

.cl-share .cl-share-label {
	font-family: $type-sans;
	line-height: 23px;
	padding-bottom: 2px;
}

/* Slideshows */

.cl-slideshow {

	.carousel .slide figcaption {
		font-family: $type-sans;
	}

	.counter {
		font-family: $type-sans;
	}

}
