/* ==============================
   COMPONENTS

   THEME-SPECIFIC STYLES FOR THE
   COMPONENT LIRBARY
   ============================== */

/* Buttons */

.cl-button {
    font-family: $type-sans;
}

/* Metrics */

.cl-metric {
    
    span:first-child {
        font-family: $type-numeric;
    }
    
    span:last-child {
        font-family: $type-sans;
    }
    
}