/* ==============================
   COMMENTS
   ============================== */

#comments {
	
	width: 100%;
	max-width: 800px;
	margin: 4rem auto 0;
	background: #eee;
	border-radius: .4rem;
	border: 1px solid #eee;
	overflow: hidden;
	
	.comments-title {
		border-bottom: 1px solid $grey;
		font-weight: 400;
		max-width: initial;
		padding: 1rem;
	}
	
	.comment-list {
		margin: 0;
		padding: 0 1rem;
	}
	
	.comment-body {
		background: #fff;
		padding: 1rem;
		font-size: 1rem;
		margin: 2rem 0;
		border: 1px solid $grey;
	}
	
	.comment-metadata {
		font-size: .8rem;
		padding: .5rem 0;
		border-bottom: 1px solid $grey;
	}
	
	.comment-content {
		padding: 1rem 0 0;
	}
	
	.reply a {
		font-size: .8rem;
		color: #fff;
		background: $link;
		padding: 3px 10px 1px;
		border-radius: 2px;
		transition: background .1s ease-in-out;
	}
	
	.reply a:hover,
	.reply a:focus {
		background: $linkhover;
	}
	
	.children {
		border-left: 1px solid $grey;
		padding-left: 1rem;
		margin: 0 0 2rem .2rem;
	}
	
	#respond {
		
		background: #fff;
		padding: 1rem;
		
		.comment-notes {
			font-size: .8rem;
		}
		
		.comment-form-comment {
			max-width: 100%;
		}
		
		label {
			color: $darkgrey;
		}
		
		input {
			display: block;
		}
		
		#comment {
			display: block;
			box-sizing: border-box;
			width: 100%;
			border: 1px solid #ddd;
			padding: .5rem;
			font-size: 1rem;
		}
		
		#cancel-comment-reply-link {
			position: relative;
			bottom: 4px;
			font-size: .8rem;
			font-weight: 400;
			color: #fff;
			background: #d38381;
			padding: 4px 10px;
			margin-left: .5rem;
			border-radius: 2px;
			transition: background .1s ease-in-out;
		}
		
		#cancel-comment-reply-link:hover,
		#cancel-comment-reply-link:focus {
			background: #c24338;
		}
		
		.form-submit #submit {
			font-size: .8rem;
			font-weight: 400;
			color: #fff;
			background: $link;
			padding: 6px 10px;
			border-radius: 2px;
			border: none;
			transition: background .1s ease-in-out;
		}
		
		.form-submit #submit:hover,
		.form-submit #submit:focus {
			cursor: pointer;
			background: $linkhover;
		}
		
	}
	
}

@media screen and (min-width: 600px) {
	
	#comments {
		
		.comments-title {
			padding: 2rem 2rem 1rem;
		}

		.comment-list {
			padding: 0 2rem;
		}
		
		.children {
			padding-left: 2rem;
			margin: 0 0 2rem .5rem;
		}
		
		#respond {
			padding: 2rem;
		}
		
	}
	
}

