/* ==============================
   COMPONENTS

   THEME-SPECIFIC STYLES FOR THE
   COMPONENT LIRBARY
   ============================== */

/* Buttons */

.cl-button {
    font-family: $type-sans;
}

/* Cards */

.cl-card,
.cl-dcard {
    
    font-family: $type-sans;
    
    p {
        font-size: .9rem;
    }
    
}


/* Metrics */

.cl-metric {
    
    span:first-child {
        font-family: $type-numeric;
    }
    
    span:last-child {
        font-family: $type-sans;
    }
    
}