/* ==============================
   ELEMENTS
   ============================== */

/* IMAGES */

img.alignright,
img.alignleft {
    display: block;
    padding: 1.5rem 0;
    position: relative;
    width: 100vw;
    left: -50vw;
    margin-left: 50%;
}

@media screen and (min-width: 480px) {
    img.alignright,
    img.alignleft {
        width: 60%;
        float: right;
        left: 0;
        margin-left: 0;
    }
    img.alignright {
        padding: 1rem 0 2rem 1.5rem;
    }
    img.alignleft {
        padding: 1rem 1.5rem 2rem 0;
    }
}


/* TABLES */

table {
	border-collapse: collapse;
	border: 1px solid $grey;
	margin: 0 0 26px;
}
th {
	background-color: $blue;
	color: $white;
    font-weight: 600;
}
th, td {
	padding: 1rem 1.5rem;
}
tr:nth-child(even) {
	background-color: #eee;
}


/* FIELDS AND FORMS */

fieldset {
    background: #eee;
    padding: 2rem;
    border: 2px solid $white;
    border-radius: .4rem;
}

fieldset legend {
    background: $darkgrey;
    color: $white;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 2px;
}

fieldset form:not(:first-child) {
    margin-top: 2rem;
}

form label {
    font-weight: 600;
}

input.button {
    & {
        display: inline-block !important;
        margin: 0 .5rem;
        padding: 1rem 2rem;
        background: $white;
        border: 1px solid $grey !important;
        font-size: .7rem;
        font-weight: 700;
        letter-spacing: .1rem;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        color: $blue !important;
        text-decoration: none;
        transition: all .2s ease-in-out;
        text-shadow: none;
    }
    
    &:hover,
    &:focus {
        background: $blue;
        border: 1px solid $blue !important;
        color: $white !important;
        transition: all .1s;
        cursor: pointer;
    }
    
    &:matches([type="submit"]) {
        & {
            background: linear-gradient(315deg, $blue, $midblue);
            color: $white !important;
            border: none !important;
        }
        
        &:hover,
        &:focus {
            background: linear-gradient(315deg, $darkblue, $blue);
            border: none !important;
        }
    }
    
}