/* ==============================
   ELEMENTS
   ============================== */


/* TABLES */

table {
	border-collapse: collapse;
	border: 1px solid $grey;
	margin: 0 0 26px;
}
th {
	background-color: $blue;
	color: $white;
    font-weight: 600;
}
th, td {
	padding: 1rem 1.5rem;
}
tr:nth-child(even) {
	background-color: #eee;
}


/* SCREEN READERS */

.screen-reader-text {
	position: absolute;
	left: -9999px;
}