/* ==============================
   FEATURED IMAGES
   ============================== */

.featured-image {
    
    max-width: 100%;
    margin-bottom: 2rem;
    
    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    
    figcaption {
        font-size: .9rem;
        line-height: 1.4;
        padding: .3rem 0;
        color: $darkgrey;
    }
    
}

@media screen and (min-width: $break1) {
    .featured-image img {
        width: auto;
    }
}

@media screen and (min-width: $break2) {
    
    .featured-image {
        float: right;
        max-width: 500px;
        margin-left: 3rem;
    }
    
}

