#globalfooter {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 0;
    max-height: 325px;
    //overflow: hidden;
    background-color: #002147;
    background-image: url('images/footer.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 325px;
}

#globalfooter:before {
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    content: '';
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, $gold, $midgold, $gold, $midgold);
}

#colophon {
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    color: #fff;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

#tagline {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    margin: 80px auto 40px;
    background: linear-gradient(to right, $midblue 10%, $lightblue 30%, $midblue);
    transition: all .2s ease-in-out;
}

#tagline:after {
    content: '';
    display: block;
    position: absolute;
    top: -39px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('images/tagline.png');
    background-position: calc(50% - 5px) top;
    background-repeat: no-repeat;
    background-size: 200px auto;
}

@media screen and (min-width: 640px) {
    #tagline {
        background: linear-gradient(to right, $midblue 50%, $lightblue 70%, $midblue);
    }
    #tagline:after {
        background-position: right 25px top;
    }
}

@media screen and (min-width: 1050px) {
    #colophon,
    #tagline,
    #tagline:after {
        width: 1000px;
        padding: 0;
    }
    #tagline:after {
        background-position: right top;
    }
}