/* ==============================
   FOOTER
   ============================== */


#basement {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    padding: 0 25px;
    color: #fff;
}

#basement:after {
    display: block;
    content: '';
    clear: both;
}

#globalfooter {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 30px;
    overflow: hidden;
    background-color: #002147;
    background-image: url('images/campus-screen.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.footer-links {

    a {
        color: #fff;
        font-size: .9rem;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
    }

    ul {
        list-style: none;
        margin: 0 0 2rem 0rem;
    }

    li {
        line-height: 1.4rem;
    }

    #sb-university,
    #sb-campus-life,
    #sb-academics {
        margin: 2rem;
    }
}

.footer-link-heading {
    text-transform: uppercase;
    font-weight: 550;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: .9rem;
    margin-bottom: 0;
}

#gimmicks {

    text-align: center;
    background: rgba(34, 90, 154, .6);
    position: relative;
    left: -50vw;
    margin-left: 50%;
    width: 100vw;

    .uri-tides-widget {
        margin: 18px 0 15px;
        padding: 0;
        border: none;
        background: none;
        text-align: left;
    }

    .uri-tides-widget .label {
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    .uri-tides-metrics div {
        font-family: $type-numeric;
        font-weight: 400;
    }

    .uri-tides-metrics em {
        font-weight: 500;
    }

    .uri-tides-source {
        color: rgba(255, 255, 255);
        font-size: .55rem;
    }

    hr {
        margin: 0;
        background: rgba(255, 255, 255, .5);
    }

    .cl-social {
        padding: 18px 0 15px;
        margin: 0;
        display: block;
    }

    .cl-social li:not(:first-child) {
        margin-left: 18%;
    }

}

// #gimmicks

#tagline {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    margin: 80px auto 60px;
    background: linear-gradient(to right, $midblue 10%, $lightblue 30%, $midblue);
    transition: all .2s ease-in-out;
}

#tagline:after {
    content: '';
    display: block;
    position: absolute;
    top: -39px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('images/tagline.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#legal {

    position: relative;
    z-index: 10;
    width: 300px;
    margin: 0 auto;
    font-size: .6rem;
    box-sizing: border-box;
    transtition: all .2s ease-in-out;

    p {
        color: rgba(255, 255, 255, .6);
        max-width: 100%;
        padding: 0;
        margin: .2rem 0 0;
        text-align: center;
        line-height: 1.3;
    }

    a {
        text-decoration: none;
    }

    a.subtle {
        color: inherit;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
    }

}

// #legal

#legal-links {

    margin: 0 0 .2rem;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;

    li {


        &:not(:first-child) {
            margin-left: 2rem;
        }

    }

    a {
        color: $white;
    }

}

// #legal-links

@media all and (min-width: 600px) {

    .footer-links {
        display: flex;
        column-gap: 4rem;

        #sb-university,
        #sb-campus-life,
        #sb-academics {
            margin: 2rem;
        }
    }
}

@media all and (min-width: 900px) {
    #globalfooter {
        padding: 35px 0;
        background-size: auto 500px;
    }

    .footer-links {
        display: flex;
        float: left;
        column-gap: 4rem;

        #sb-university,
        #sb-campus-life,
        #sb-academics {
            margin: 0rem;
        }
    }


    #gimmicks {

        float: right;
        text-align: initial;
        background: none;
        padding: 0;
        left: 0;
        margin-left: 0;
        width: auto;

        &:after {
            display: block;
            content: '';
            clear: both;
        }

        &>* {
            float: left;
        }

        hr {
            display: none;
        }

        .uri-tides-widget {
            margin: 0;
        }

        .uri-tides-widget .label {
            font-size: .9rem;
        }

        .cl-social {
            margin-left: 3rem;
            padding: 0;
            border-top: none;
        }

        .cl-social li:not(:first-child) {
            margin-left: 10px;
        }

    }

    // #gimmicks

    #legal {
        width: 100%;
        font-size: .7rem;
        margin-top: .5rem;
        padding: 0 25px;
    }

    #legal p {
        margin: 0;
        text-align: left;
    }

    #legal-links {
        text-align: left;
        font-size: .8rem;

         li {

        display: inline;

        &:not(:first-child) {
            padding-left: 2rem;
            margin-left: 2rem;
            border-left: 1px solid $midblue;
        }

    }
        
    }

   

    #tagline {
        background: linear-gradient(to right, $midblue 50%, $lightblue 70%, $midblue);
        margin: 60px auto 0;
    }

    #tagline:after {
        background-position: right 25px top;
    }
}

@media all and (min-width: 1050px) {

    #basement,
    #legal,
    #tagline,
    #tagline:after {
        width: 1000px;
        padding: 0;
    }

    #tagline:after {
        background-position: right top;
    }
}

/* PRINT */

@media print {
    #globalfooter {
        background: none;
        padding: 0;
    }

    #basement,
    #tagline {
        display: none;
    }

    #legal {
        width: 100%;
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid #ddd;
    }

    #legal p {
        color: #000;
        text-align: left;
    }

    #legal-links {
        display: none;
    }
}