/* ==============================
   FORMS
   ============================== */

fieldset {
    background: #fff;
    padding: 2rem;
    border-radius: .2rem;
}

fieldset legend {
    background: $darkgrey;
    color: $white;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 2px;
}

fieldset form:not(:first-child) {
    margin-top: 2rem;
}

label {
    color: $darkgrey;
    font-size: 1rem;
    font-weight: 600;
}

input.button {
    & {
        display: inline-block !important;
        margin: 0 .5rem;
        padding: 1rem 2rem;
        background: $white;
        border: 1px solid $grey !important;
        font-size: .7rem;
        font-weight: 700;
        letter-spacing: .1rem;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        color: $blue !important;
        text-decoration: none;
        transition: all .2s ease-in-out;
        text-shadow: none;
    }
    
    &:hover,
    &:focus {
        background: $blue;
        border: 1px solid $blue !important;
        color: $white !important;
        transition: all .1s;
        cursor: pointer;
    }
    
    &:matches([type="submit"]) {
        & {
            background: linear-gradient(315deg, $blue, $midblue);
            color: $white !important;
            border: none !important;
        }
        
        &:hover,
        &:focus {
            background: linear-gradient(315deg, $darkblue, $blue);
            border: none !important;
        }
    }
    
}

@keyframes activateInput {
    0% { background: #fff; }
    5% { background: $lightgrey; }
    100% { background: #fff; }
}

.input-group {
    display: block;
    margin: 1rem 0;
    position: relative;
    font-family: $type-sans;
    
    br {
        display: none;
    }

    input[type="checkbox"],
    input[type="radio"] {
        
        display: none;
    
        & + label {

            display: block;
            background: #fff;
            margin: .2rem 0;
            box-sizing: border-box;
            line-height: 50px;
            height: 50px;
            padding: 0 4rem 0 1rem;
            max-width: 300px;
            position: relative;
            transition: all .2s ease-in-out;

            &:before {
                content: '';
                display: block;
                box-sizing: border-box;
                position: absolute;
                top: calc(50% - 12px);
                right: 1rem;
                width: 24px;
                height: 24px;
                background-color: #fff;
                border: 2px solid $grey;
                border-radius: 50%;
                transition: all .1s ease-in-out;
            }

            &:hover,
            &:focus {
                cursor: pointer;
                box-shadow: $level1;
            }

            &:active {
                box-shadow: $level2;
            }

        }

        &:checked + label {

            animation-name: activateInput;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;

            &:before {
                border: 9px solid $link;
            }

        }
        
    }
    
    input[type="text"],
    input[type="password"] {
        
        display: block;
        position: relative;
        width: 100%;
        max-width: 800px;
        padding: .3rem .2rem;
        box-sizing: border-box;
        margin-top: .5rem;
        border: none;
        outline: none;
        background: none;
        border-bottom: 1px solid $grey;
        color: $black;
        font-size: 1.2rem;
        transition: all .2s ease-in-out;
        
        &:hover,
        &:focus {
            border-bottom: 1px solid $lightgrey;
            background: $lightgrey;
            color: $darkgrey;
        }
        
    }
    
    textarea {
        
        display: block;
        width: 100%;
        max-width: 800px;
        margin-top: .5rem;
        padding: .5rem;
        box-sizing: border-box;
        outline: none;
        background: none;
        border: 1px solid $grey;
        color: $black;
        font-size: 1rem;
        transition: all .2s ease-in-out;
        
        &:hover,
        &:focus {
            border: 1px solid $lightgrey;
            background: $lightgrey;
            color: $darkgrey;
        }
        
    }
    
    
}

