/* ==============================
   GLOBAL NAV
   ============================== */

.globalnav {
    
    background: $white;
    position: relative;
	z-index: 9980;
    
    .globalnav-dropdown {
        display: none;
        width: 100%;
        list-style: none;
        text-align: center;
        padding: 1rem 0;
        position: absolute;
        left: 0;
        top: $brandbarheight;
        background: $white;
        border-bottom: 1px solid $grey;
        margin: 0 auto;

        ul {
            list-style: none;
            margin: 0 auto;
        }
    }


    
    a {
        display: inline-block;
        width: 100%;
        color: $blue;
        font-size: 1rem;
        font-weight: 600;
        font-family: $type-sans;
    }
    
    a:hover,
    a:focus {
        color: $link;
    }

    #globalnav-label {
        display: block;
        text-align: center;
        margin: auto;
        border: none;
        height: $brandbarheight;
        line-height: $brandbarheight;
        background: $white;
        color: $blue;
        font-size: .8rem;
        font-weight: 600;
        font-family: $type-sans;
        transition: all .1s ease-in-out;
        width: 100%;
    }

    #globalnav-label:hover,
    #globalnav-label:focus {
        background-color: $link;
        color: $white;
        cursor: pointer;
        
        span {
            background-position: 0 -18px;
        }
            
    }

    .globalnav-button span {
        display: inline-block;
        width: 0;
        height: 9px;
        padding-left: 9px;
        margin-left: 10px;
        margin-top: 3px;
        overflow: hidden;
        background-image: url('images/close.svg');
        background-repeat: no-repeat;
        background-position: 0 -27px;
        background-size: 9px auto;
        transform: rotate(-45deg);
        transition: transform .2s ease-in-out;
    }

    .globalnav-label-checked span {
        background-position: 0 -18px;
        transform: rotate(0);
    }
        

     .globalnav-label-checked {
 
        & ~ #globalnav-menu {
            display: block;
        }
            
    }
    
}

@media all and (min-width: $break1) {
    
    body.page-template-page-external-landing #globalnav-menu {
            position: absolute;
            background: rgba(255,255,255,.8);
    }
    
    .globalnav {

        background: rgba(255,255,255,.8);

        #globalnav-menu {
            display: block;
            padding: 0;
            position: relative;
            top: 0;
            background: #fff;
            border-bottom: none;
        }
        
        #globalnav-label {
            display: none;
        }

        li {
            display: inline;
            margin-bottom: 0;
            line-height: $brandbarheight;
        }

        li:not(:last-child) {
            margin-right: 2.5rem;
            transition: margin-right .2s ease-in-out;
        }

        a {
            display: inline-block;
            width: auto;
            font-size: .8rem;
            line-height: $brandbarheight;
        }

    }
    
    @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
        .globalnav #globalnav-menu {
            background: rgba(255,255,255,.8);
            backdrop-filter: blur(10px) saturate(250%);
        }
    }
    
}

@media all and (min-width: $break2) {
    .globalnav {
        
        li:not(:last-child) {
            margin-right: 3rem;
        }
        
        a {
            font-size: .9rem;
        }
        
    }
    
    
}