/* ==============================
   LAYOUT
   ============================== */

body {
    background: $lightgrey;
}

#page {
    overflow: hidden;
}

.content-width,
#main {
    margin: 0 auto;
    padding: 0 25px;
}

#main {
    width: 100%;
    margin-bottom: 2rem;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.page-template-page-external-landing #main {
    margin-bottom: 0;
}

@media screen and (min-width: 1050px) {
    .content-width,
    #main {
        width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
    #main {
         margin-bottom: 6rem;
    }
}

.breakout {
    width: 100vw !important;
    position: relative !important;
    left: 50% !important;
    margin-left: -50vw !important;
}