/* ==============================
   LAYOUT
   ============================== */

body {
    background: var(--global-background-color);
}

#page {
    overflow: hidden;
}

.content-width,
#main {
    margin: 0 auto;
    padding: 0 25px;
}

#main {
    width: 100%;
    margin-bottom: 2rem;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.page-template-page-external-landing #main {
    padding-bottom: 0;
}

.alignright,
.alignleft,
.aligncenter,
.alignnone {
    display: block;
    padding: 1.5rem 0;
    max-width: 100%;
	height: auto;
    min-width: 200px;

	&.xsmall,
	&.small,
	&.medium,
	&.large {
		width: 100%;
	}

	img {
		padding-top: 0;
	}

}

.alignright,
.alignleft {
    float: none;
}

.aligncenter {
    margin: 0 auto;
}

@media all and (min-width: 480px) {
    .alignright,
    .alignleft {
		&.xsmall {
            width: 35%;
        }
        &.small {
            width: 40%;
        }
        &.medium {
            width: 45%;
        }
        &.large {
            width: 50%;
        }
    }
    .aligncenter {
		&.xsmall {
            width: 25%;
        }
        &.small {
            width: 50%;
        }
        &.medium {
            width: 75%;
        }
        &.large {
            width: 100%;
        }
    }
    .alignright:after,
    .alignleft:after {
        display: block;
        content: '';
        clear: both;
    }
    .alignright {
        float: right;
        padding: 1rem 0 2rem 1.5rem;
    }
    .alignleft {
        float: left;
        padding: 1rem 1.5rem 2rem 0;
    }
}

@media all and (min-width: $break2) {
    .alignright,
    .alignleft {
		&.xsmall {
            width: 15%;
        }
        &.small {
            width: 28%;
        }
        &.medium {
            width: 42%;
        }
        &.large {
            width: 60%;
        }
    }
    .aligncenter {
		&.xsmall {
            width: 20%;
        }
        &.small {
            width: 40%;
        }
        &.medium {
            width: 60%;
        }
        &.large {
            width: 80%;
        }
    }
}

@media all and (min-width: 1050px) {
    .content-width,
    #main {
        width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
    #main {
         padding-bottom: 6rem;
    }
}

.breakout {
    width: 100vw !important;
    position: relative !important;
    left: 50% !important;
    margin-left: -50vw !important;
}

@media print {
	body {
		background: #fff;
		overflow: visible;
	}
	#main {
		width: 100%;
		margin: 0 0;
		padding-bottom: 3rem;
	}
	.content-width {
		width: 100%;
		margin: 0;
	}
}
