body {
    background: $lightgrey;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: .9rem;
    color: #000;
}

#content {
    width: 100%;
    margin: 40px auto;
    padding: 0 25px;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

@media screen and (min-width: 600px) {
    #content {
        margin: 60px auto;
    }
}

@media screen and (min-width: 1050px) {
    #content {
        width: 1000px;
        padding: 0;
    }
}


/*
 * TWO COLUMN LAYOUT
 */

   
#twocol:after {
    content: '';
    display: block;
    clear: both;
}

#twocol #sidebar,
#twocol #primary {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

#twocol #sidebar {
    border-top: 1px solid $midgrey;
    padding-top: 40px;
    margin-top: 40px;
}

#twocol #primary {
    padding-top: 40px;
}

@media screen and (min-width: 800px) {

    #twocol #sidebar {
        width: 20%;
        float: left;
        margin-top: 0;
        padding-right: 4%;
        padding-top: 0;
        padding-bottom: 30px;
        border-top: none;
        border-right: 5px solid $grey;
    }

    #twocol #primary {
        width: 80%;
        float: right;
        padding-top: 0;
        padding-left: 6%;
    }
    
}