/* ==============================
   PRIMARY NAVIGATION
   ============================== */

#localnav {
    position: relative;
    font-family: $type-header;
    font-size: 1rem;
    padding: 1rem 0 3rem;
}

#lnmenu-toggle {
    display: none;
}

#lnmenu {
    display: block;
    position: relative;
    box-sizing: border-box;
    max-width: 400px;
    height: 40px;
    line-height: 40px;
    padding: 0 1rem;
    font-size: .8rem;
    font-weight: 600;
    background-color: #eee;
    border-radius: .2rem;
    color: $darkgrey;
    transition: all .1s ease-in-out;
}

#lnmenu span {
    padding-right: 1.2rem;
}

#lnmenu span:after {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    right: 1rem;
    width: 0;
    height: 0;
    border-top: 6px solid $darkgrey;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: rotate(0);
    transition: transform .2s $easeInOutQuart;
}

#lnmenu:hover,
#lnmenu:focus {

	background-color: $darkgrey;
	color: #fff;
	cursor: pointer;

    & span:after {
        border-top: 6px solid $white;
    }

}

#lnmenu-toggle:checked {
    & ~ #lnmenu {
        background-color: $darkgrey;
        color: #fff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    & ~ #lnmenu span:after {
        transform: rotate(180deg);
        border-top: 6px solid $white;
    }
    & ~ ul {
        display: block;
    }
}

#localnav>ul {

    overflow: hidden;

    ul {
        display: none;
    }

}

#cl-localnav>ul.cl-menu-list-no-js {
	display: block;
	position: relative;
	top: 0;
	box-shadow: none;
	border-radius: 0;
	background: transparent;
}

#localnav>ul,
#cl-localnav>ul {

	display: none;
	position: absolute;
	top: 3.9rem;
	left: 0;
	z-index: 10;
	background: #fff;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
	width: 100%;
	max-width: 400px;
	margin: 0;
	list-style-type: none;
	border-radius: 0 0 .2rem .2rem;
	transition: all .1s ease-in-out;

    &>li {
        margin: 0;
    }

    &>li:not(:first-child) {
        border-top: 1px solid #eee;
    }

    a {
        display: block;
        padding: 1rem;
        color: #333;
        transition: all .1s ease-in-out;
    }

    a:hover,
    a:focus {

        background: $link;
        color: $white;

        & ~ span.cl-menu-arrow {
          background-position: 0 -16px;
        }

    }

	/* Reset styles from the Component Library */
	li.current_page_item,
	li.current-menu-item,
	li.current_page_parent,
	li.current_page_ancestor,
	li.current-page-ancestor,
	li.current-post-ancestor {
		box-shadow: none;
	}
    /* done with reset */

    li.current_page_item>a,
	li.current-page-item>a {
        background: $link;
        color: $white;
    }

	li.current_page_parent>a,
    li.current_page_ancestor>a,
	li.current-page-ancestor>a,
	li.current-post-ancestor>a {
        border-bottom: 2px solid $midgrey;
    }

}

#cl-localnav {

    margin-bottom: 0;

    &>ul {
        max-width: 100%;
    }

    span.cl-menu-toggle.active ~ ul.cl-menu-list {
        display: block;
    }

    ul.sub-menu a {
        padding: 1rem 1rem 1rem 1.5rem;
        border-left: 2px solid $darkgrey;
        background: #eee;
    }

    ul.sub-menu a:hover,
    ul.sub-menu a:focus {
        background: $link;
    }

    span.cl-menu-arrow {
        top: 1.4rem;
    }

    li.current_page_item span.cl-menu-arrow {
        //border-top: 8px solid $white;
    }

}

@media all and (min-width: $break1) {
    #localnav {
        width: 100%;
        box-sizing: border-box;
        padding: 2rem 0 4rem;
    }
    #localnav>ul,
    #cl-localnav>ul {

    		display: block;
    		position: relative;
    		top: 0;
    		max-width: 100%;
    		width: 100%;
    		border-bottom: 1px solid $grey;
        padding-bottom: 2rem;
    		background: transparent;
    		box-shadow: none;
    		border-radius: 0;

        &:after {
            display: block;
            content: '';
            clear: both;
        }
        &>li {
            display: block;
            float: left;
            border: none !important;
            padding-right: 3rem;
        }
        li.current_page_item>a,
        a:hover,
        a:focus {

            background: none;
            color: $black;
            border-bottom-color: $link;

            & ~ span.cl-menu-arrow {
              border: none;
              background-position: 0 -40px;
            }

        }
        li.current_page_item>a {
            font-weight: 600;
        }
        a {
            padding: .3rem 0;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: transparent;
        }

        ul a,
        ul.sub-menu a {
            padding: .7rem 1rem .5rem;
        }

    }

    #cl-localnav {
        li.current_page_item {
            box-shadow: none;
        }
        li.menu-item-has-children {
            margin-right: 3rem;
            padding-right: 0;
        }
        a.cl-menu-trigger {
            padding-right: 1.5rem;
        }
        span.cl-menu-arrow {
            top: .6rem;
            right: 0;
            background-position: 0 0;
        }
        ul.sub-menu {
            a {
                border-left: none;
                background: none;
            }

            li {
                a:hover,
                a:focus {
                    border-bottom: 2px solid transparent;
                    background: #eee;
                }
            }

            li.current_page_item {
                a:hover,
                a:focus {
                    border-bottom: 2px solid $link;
                    background: none;
                }
            }
        }

    }

    #lnmenu {
        display: none;
    }
}
