/* ==============================
   PRIMARY NAVIGATION
   ============================== */

#localnav {
    position: relative;
    font-family: $header;
    font-size: .75rem;
    padding-top: 40px;
}

#lnmenu-toggle {
    display: none;
}

#lnmenu {
    display: block;
    position: relative;
    height: 40px;
    width: 0;
    padding-left: 40px;
    overflow: hidden;
    background-color: $grey;
    background-image: url('images/menu.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    border-radius: 50%;
    transition: all .1s ease-in-out;
}    

#lnmenu:hover,
#lnmenu:focus {
    background-color: $link;
    color: #fff;
    cursor: pointer;
    border-radius: .4rem;
}

#lnmenu-toggle:checked {
    & ~ #lnmenu {
        background-color: $link;
        color: #fff;
        border-radius: 0;
    }
    & ~ ul {
        display: block;
    }
}
    
#localnav>ul {

    & {
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 10;
        background: #fff;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        width: 100%;
        max-width: 100%;
        margin: 0;
        list-style-type: none;
        border-radius: 0 .2rem .2rem .2rem;
        overflow: hidden;
        transition: all .1s ease-in-out;
    }
    
    li {
        margin: 0;
    }

    li:not(:first-child) {
        border-top: 1px solid #eee;
    }

    a {
        display: block;
        padding: 1rem;
        color: $black;
        transition: all .1s ease-in-out;
    }
    
    a:hover,
    a:focus {
        background: $keaneyblue;
        color: $white;
    }
    
    li.active>a {
        background: $keaneyblue;
        color: $white;
        font-weight: 600;
        padding-left: 1rem;
    }
    
}

@media screen and (min-width: 480px) {
    #localnav>ul {
        max-width: 300px;
    }
}

@media screen and (min-width: 920px) {
    #localnav {
        float: left;
        clear: left;
        width: 20%;
        padding-bottom: 40px;
        padding-right: 4%;
        box-sizing: border-box;
    }
    #localnav>ul {
        & {
            display: block;
            position: relative;
            top: 0;
            background: transparent;
            box-shadow: none;
            border-radius: 0;
        }
        a {
            padding: .75rem .5rem;
            margin-bottom: 2px;
        }
        li:not(:first-child) {
            border-top: none;
        }
    }
    #lnmenu {
        display: none;
    }
}