#masthead {
    width: 100%;
    padding: 0;
    background: $white;
    border-bottom: 1px solid $grey;
}

#identity-print {
    display: none;
}

/*
 * GLOBAL NAV
 */

#globalbanner {
    width: 100%;
    background-color: #002147;
    background-image: url('images/campus-screen.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 500px;
    color: #fff;
    padding-left: 25px;
    box-sizing: border-box;
}

/*
#globalbanner:after {
    content: '';
    position: relative;
    left: -25px;
    display: block;
    clear: both;
    height: 3px;
    width: 100vw;
    background: linear-gradient(135deg, $gold, $midgold, $gold, $midgold);
}
*/

#globalnav {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: .7rem;
    letter-spacing: .05rem;
}

#globalnav:after {
    content: '';
    display: block;
    clear: both;
}

#identity {
    width: 0;
    height: 40px;
    padding-left: 220px;
    overflow: hidden;
    float: left;
    background-image: url('images/logo-inline-white.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 220px auto;
}

#gn {
    & {
        display: none;  
        list-style-type: none;
        overflow: hidden;
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 9996;
        width: 50%;
        padding-top: 1rem;
        background: #fff;
        border-radius: 0 0 0 .2rem;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        transition: right .2s ease-in-out;
    }
    li {
        margin: 0;
    }
    li:not(:first-child) {
        border-top: 1px solid #eee;
    }
    li a {
        display: block;
        padding: 1rem;
        font-size: .8rem;
        color: #000;
        transition: all .1s ease-in-out;
    }
    li a:hover {
        background: $blue;
        color: $white;
    }
}

#gnmenu-toggle {
    display: none;
}

#gnmenu {
    display: block;
    position: absolute;
    right: 0;
    z-index: 9997;
    height: 40px;
    width: 0;
    padding-left: 40px;
    background-color: $darkblue;
    background-image: url('images/menu.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    transition: all .1s ease-in-out;
}   

#gnmenu:hover,
#gnmenu:focus {
    background-color: $link;
    cursor: pointer;
}

#gnmenu span {
    display: none;
}

#gnmenu-toggle:checked {
    & ~ #gnmenu {
        background-color: $link;
    }
    & ~ #gnmenu:after {
        content: '';
        display: block;
        z-index: 9997;
        position: absolute;
        top: 40px;
        left: 8px;
        width: 0;
        height: 0;
        border-top: .7rem solid $link;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }
    & ~ #gn {
        display: block;
    }
}

#globalsearch {
    & {
        position: relative;
        right: 25px;
        width: 100vw;
    }

    #gs-query {
        float: left;
        font-family: 'Arial', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        height: 40px;
        width: calc(100% - 40px);
        padding: 0 1.5rem;
        margin: 0;
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid $grey;
        color: #0047c2;
    }

    #gs-submit {
        float: left;
        margin: 0;
        height: 40px;
        width: 0;
        padding: 0 0 0 40px;
        overflow: hidden;
        background-image: url('images/search.svg');
        background-position: center center;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-color: $lightblue;
        border: none;
    }
    
    #gs-submit:hover,
    #gs-submit:focus {
        cursor: pointer;
    }
    
}

@media screen and (min-width: 420px) {
    #identity {
        padding-left: 300px;
        background-size: 275px auto;
    }
}

@media screen and (min-width: 640px) {
    #gnmenu {
        right: 40%;
    }
    
    #gnmenu-toggle:checked ~ #gn {
        right: initial;
        left: calc((100vw - 25px) * 0.6 - 80px);
        border-radius: 0 0 .2rem .2rem;
        width: calc(40% + 40px);
    }
        
    #globalsearch {
        & {
            position: absolute;
            right: 0;
            width: 40%;
            transition: width .2s ease-in-out;
        }
        #gs-query {
            font-weight: 600;
            font-size: .8rem;
            padding: 0 .5rem;
        }
    }
}

@media screen and (min-width: 920px) {
    #globalnav {
        max-width: 1000px;
    }
    
    #gnmenu-toggle:checked ~ #gn, #gn {
    
        & {
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            background: transparent;
            display: block;
            padding-top: 0;
            margin: 0 0 0 1rem;
            float: left;
            box-shadow: none;
        }

        li {
            display: inline-block;
            margin: 0 0 0 1vw;
        }
        
        li:not(:first-child) {
            border-top: none;
        }
        
        li a {
            font-size: inherit;
            height: 40px;
            line-height: 40px;
            color: #fff;
            padding: 0 1rem;
        }

        li a:hover,
        li a:focus {
            background: #fff;
            color: $blue;
        }

        li.multi a:after {
            content: '';
            display: inline-block;
            margin-left: 6px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid $white;
            transition: all .1s ease-in-out;
        }

        li.multi a:hover:after {
            border-top: 6px solid $blue;
        }

    }
    #gnmenu {
        display: none;
    }
    #globalsearch {
        & {
            width: 200px;
            position: relative;
            float: right;
            transition: none;
        }
        #gs-query {
            font-size: .7rem;
            width: 160px;
        }
    }
}

@media screen and (min-width: 1050px) {
    #globalbanner {
        padding-left: 0;
    }
    /*
    #globalbanner:after {
        left: 0;
    }
    */
    #globalnav {
        margin: 0 auto;
    }
}




/*
 * SITE BANNER
 */

#sitebanner {
    position: relative;
}

#sitebranding {
    & {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0 25px;
        height: 80px;
        line-height: 80px;
        color: #002147;
        box-sizing: border-box;
        transition: all .2s ease-in-out;
        backdrop-filter: blur(20px) saturate(180%);
        background-color: rgba(255,255,255,.7);
        z-index: 2;
    }
    h1 {
        font-family: 'trajan-pro', 'Lucida Grande', serif;
        margin-bottom: 0;
        max-width: 100%;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    h1 a:visited {
        color: inherit;
    }
    .site-description {
        font-size: .9rem;
        color: $darkgrey;
        padding-bottom: 0;
    }
}


@media screen and (min-width: 1050px) {
    #sitebranding {
        width: 1000px;
        padding: 0;
        font-size: 2rem;
        height: 100px;
        line-height: 100px;
    }
}


/* PRINT */

@media print {
    #globalbanner,
    #primarynav {
        display: none;
    }
    
    #identity-print {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 25px;
    }
}
