/* ==============================
   oEMBEDS
   ============================== */

.oembed-instagram-com iframe,
.oembed-twitter-com iframe,
.oembed-facebook-com iframe {
    width: 100% !important;
    max-width: 360px !important; 
}

.oembed-youtube-com iframe {
    max-width: 100%;
}

.alignright,
.alignleft {
    .oembed iframe {
        max-width: 100%;
    }
}

.cl-tiles .oembed iframe {
    max-width: 100% !important;
    margin: 0 !important;
}

.oembed-instagram-com p,
.oembed-twitter-com p,
.oembed-facebook-com p {
    display: none;
}

.wp-embedded-content {
	max-width: 100% !important;
}

.embed-responsive, .wp-block-embed.is-type-video {
    display: block;
    height: 0;
    padding: 0 0 56.25%;
    position: relative;
}
.embed-responsive-16x9, .wp-embed-aspect-16-9 {
    padding-bottom: 56.25%;
}
.embed-responsive-4x3 {
   padding-bottom: 75%;
}
.embed-responsive iframe, .wp-block-embed.is-type-video>.wp-block-embed__wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}