/* ==============================
   PEOPLE
   ============================== */


.people-list {
    
    list-style: none;
    margin-left: 0;
    font-family: $type-sans;
    font-size: 1rem;
    border-left: 3px solid #eee;
    padding-left: 1rem;
    
    .people-title {
        font-size: 1.2rem;
        font-weight: 600;
    }
    
}

img.people-thumb {
	max-width: 180px;
	height: auto;
	margin-bottom: 1rem;

}

.peopleitem p {
    
	font-family: "Hind", Arial, sans-serif;	
	font-size: 1rem;
	margin-bottom: .5rem;
    
}

.people-phone strong, .people-email strong {
	position: absolute; 
	height: 0;
	left: -999em;
}