/* ==============================
   POSTS AND PAGES
   ============================== */

article.page,
article.post {
    
    &.sticky {
        display: initial;
    }
    
}

article.page {
    
    .entry-title {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    
}

article.post {
    
    margin: 0 0 2rem;
    
    .entry-meta {
        margin-bottom: 2rem;
        font-size: .8rem;
        color: $darkgrey;
    }
    
    .entry-summary {
        border-left: 5px solid #eee;
        padding-left: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .entry-content {
        margin-bottom: 2rem;
    }

    footer {
        font-size: .8rem;
        color: $darkgrey;
    }
    
}

    
nav.post-navigation,
nav.posts-navigation,
nav.pagination {
    
    margin: 0 0 2rem;
    padding: 2rem 0 0;
    border-top: 1px solid #ddd;
    font-size: 1rem;
        
    .nav-links {
        
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        
        &>div a {
            background: #eee;
            padding: .5rem 1rem;
            border-radius: .3rem;
            color: $darkgrey;
            position: relative;
        }

        &>div a:hover,
        &>div a:focus {
            background: $link;
            color: $white;
        }

        .nav-previous a:before,
        .nav-next a:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: calc(50% - 7px);
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            transition: all .1s ease-in-out;
        }
        
        .nav-previous {
            
            float: left;
            
            a {
                padding-left: 30px;
            }

            a:before {
                left: 8px;
                border-right: 12px solid $darkgrey;
            }

            a:hover:before,
            a:focus:before {
                border-right: 12px solid $white;
            }
            
        }
        
        .nav-next {
            
            float: right;
            
            a {
                padding-right: 30px;
            }

            a:after {
                right: 8px;
                border-left: 12px solid $darkgrey;
            }

            a:hover:after,
            a:focus:after {
                border-left: 12px solid $white;
            }
            
        }

        &>div:before,
        &>div:after {
            display: none;
        }
		
		.page-numbers {
			padding: 0 .5rem;
		}
        
    }
    
}

nav.posts-navigation {
    border-top: none;
}

nav.pagination {
	text-align: center;
}

.bypostauthor {
    display: initial;
}


/* Video Post Format */

.single-format-video .oembed iframe {
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
}
    
@media screen and (min-width: $break1) {
    
    .single-format-video .oembed iframe {
        height: 400px;
    }
    
}

@media screen and (min-width: $break2) {
    
    .single-format-video .oembed iframe {
        height: 500px;
    }
    
}


/* Search Results */

body.search-results {
    
    article {

		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid $grey;

        h2 {
            max-width: 500px;
            margin-bottom: 1rem;
            font-size: 1.4rem;
        }

        .entry-meta {
            margin-bottom: 1rem;
        }

    }

    h1 {
        font-size: 1.5rem;
        color: $darkgrey;
    }

    h1 span {
        display: block;
        font-size: 2.8rem;
        color: $black;
    }
    
}