/* ===== PROGRAM FINDER ===== */

#program-finder {
    padding-bottom: 2rem;
    border-bottom: 1px solid $grey;
    font-family: $type-sans;
}

#program-finder .has-js input#search-programs {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    display: inline-block;
    width: 80%;
    clear: both;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 2px;
}

#program-finder .has-js input#search-programs:hover,
#program-finder .has-js input#search-programs:focus {
    border: 1px solid $accentblue;
}

#program-finder .has-js input#search-programs:focus {
    color: #005ebc;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.2);
}

#program-finder .has-js label {
    display: inline-block;
    width: 32%;
}

#program-finder .has-js label:not(:last-of-type) {
    margin-right: 2%;
}

#program-finder .has-js label>span {
    display: block;
    margin-bottom: 6px;
    font-size: .75rem;
    color: #555;
}

#program-finder .has-js #js-form-reset {
    background: #eee;
    width: 18%;
    float: right;
    color: $darkgrey;
    font-weight: 600;
    padding: 1rem 0;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px solid $grey;
    border-radius: 2px;
    box-shadow: none;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: all .1s ease-in-out;
}

#program-finder .has-js #js-form-reset:hover,
#program-finder .has-js #js-form-reset:focus {
    background: #fff;
}

@media all and (max-width: 600px) {
    #program-finder {
        padding: 5px 5px 10px;
    }
    
    #program-finder .has-js label {
        width: 100%;
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #program-finder .has-js input#search-programs {
        margin-bottom: 10px;
        padding: .8rem .5rem;
        width: 100%;
        display: block;
        box-shadow: none !important;
    }
    
    #program-finder .has-js #js-form-reset {
        float: none;
        width: 100%;
        margin-bottom: 2rem;
        padding: 1rem 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

#program-status {
    font-size: 1.2rem;
    line-height: 30px;
    padding: 2rem 0;
    font-family: $type-sans;
}

#program-status:after {
    clear: both;
    display: block;
    content:'';
}

#program-status.results {
    color: $black;
}

#program-status.empty {
    color: #999;
}

#program-status.loading {
    color: #3875d7;
}

#program-status.error {
    color: #999;
}

@keyframes loading {
    from    {transform: rotate(0);}
    to      {transform: rotate(360deg);}
}

#program-status.loading .spinner {
    position: relative;
    float: left;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: linear-gradient(135deg, #ddd 70%, #3875d7 70%);
    animation: loading .8s infinite linear;
}
#program-status.loading .spinner span {
    background: #f8f8f8;
    display: block;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    border-radius: 50%;
}

#program-status.loading div {
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    float: left;
}

#program-results .cl-card {
    margin-top: 2%;
}

#program-results .cl-card .badges {
    display: block;
    z-index: 2;
    margin: 1rem 0 -1rem 1.2rem;
}

#program-results .cl-card .badges li {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: .6rem;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 4px;
    margin-bottom: 0 !important;
    padding: 0 8px;
}

#program-results .cl-card .badges li.bs,
#program-results .cl-card .badges li.ba {
    background: #0385a5;
    color: #fff;
}

#program-results .cl-card .badges li.ms,
#program-results .cl-card .badges li.ma {
    background: #6246ba;
    color: #fff;
}

#program-results .cl-card .badges li.phd {
    background: #555;
    color: #fff;
}

#program-results .cl-card .badges li.cert {
    background: #3a9137;
    color: #fff;
}

#program-results .cl-card .badges li.pro {
    background: #9f382f;
    color: #fff;
}

#program-results .cl-card .badges li.uw {
    background: #a0966b;
    color: #fff;
}

.featured-image.sc.program {
    display: block;
    float: right;
    width: 250px;
    margin-right: 50px;
    margin-left: 30px;
}

.featured-image.sc.program img {
    border-radius: 2px;
}

.more-box {
    background-color: #efefef;
    float: right;
    margin-right: 50px;
    padding: 20px;
    width: 250px;
    border-radius: 2px;
}

.more-box a {
    border-bottom: 1px solid #ddd !important;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    transition: all .1s ease-in-out;
}

.more-box a:hover,
.more-box a:focus {
    background: #002147;
    color: #fff !important;
}

@media all and (max-width: 480px) {
    .featured-image.sc.program,
    .more-box {
        float: none;
        width: 100%;
        margin: 15px 0;
    }
}

body:not(.archive) article.type-program {
    
    position: relative;
    
    .entry-content {
        width: 100%;
    }
    
    .program-links {
        
        width: 100%;
        max-width: 360px;
        
        div:not(:last-child) .cl-button {
            margin-bottom: 1rem;
        }
        
    }
    
}

@media all and (min-width: 800px) {
    
	body:not(.archive) article.type-program {
        
        .entry-content {
            width: calc( 100% - ( 500px + 3rem ) );
			float: left;
        }
        
        .program-links {
            float: right;
			clear: right;
            width: 38%;
        }
        
    }
    
}