/* ==============================
   SEARCH
   ============================== */

#searchbox {
	
	position: relative;
	
	#sb-query {
		font-weight: 300;
		font-size: 1rem;
		height: 50px;
		width: 100%;
		max-width: 600px;
		padding: 0 1rem 0 3rem;
		margin: 0;
		border: 1px solid $grey;
		box-sizing: border-box;
		background: #fff;
		border-radius: .2rem;
		outline: none;
	}
	
	#sb-query:focus {
		border: 1px solid #38b2e8;
		box-shadow: 0 0 0 3px #cbefff;
	}
	
	#sb-submit {
		position: absolute;
		left: 1rem;
		top: calc( 50% - .5rem );
		width: 0;
		height: 1rem;
		padding: 0 0 0 1rem;
		overflow: hidden;
		border: none;
		background-color: transparent;
		background-image: url(images/search-dark.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 1rem auto;
	}
	
	#sb-submit:hover {
		cursor: pointer;
	}
	
}


/* GOOGLE SEARCH RESULTS */

#cse-search-results  {
	
	* {
		font-family: $type-sans;
		font-size: 1rem;
		color: inherit;
		padding: 0;
	}

	.gsc-above-wrapper-area-container,
	.gsc-resultsHeader {
		border: none;
	}

	.gsc-results {
		width: 100%;
	}

	.gsc-control-cse {
		border: none;
		background-color: transparent;
	}


	.gsc-webResult.gsc-result {
		background-color: #fff;
		margin: 0 0 .5rem;
		padding: 1.5rem 1rem 0;
		border: 1px solid #eee;
	}


	.gsc-table-result {
		border: none;
		padding-left: 0;
		padding-right: 0;
		max-width: 750px;
	}

	.gs-title {

		font-size: 1.25rem;
		text-decoration: none;
		margin-bottom: .5rem;
		height: auto;

		a {

			text-decoration: none;
			color: $link;

			&:hover,
			&:focus {
				color: $linkhover;
			}

		}

		b {
			font-size: inherit;
			text-decoration: none;
		}

	}

	.gsc-url-top {
		color: $midgrey;
		margin-bottom: 1rem;
	}

	.gs-image {
		border: none;
	}

	.gs-snippet {
		line-height: 1.5rem;
	}

	.gsc-cursor {
		margin-top: 1rem;
	}

	.gsc-cursor-page {
		background: transparent;
	}
	
	.gs-promotion-image-box {
		margin-right: .5rem !important;
		margin-bottom: 1rem;
	}
	
	.gs-promotion .gs-visibleUrl {
		color: #999;
		margin-bottom: 1rem;
	}
	
}