/* ==============================
   SHAME
   ============================== */

@mixin message() {
	
	position: absolute;
	display: block;
	background: #f00;
	padding: .2rem .5rem;
	color: #fff;
	font-family: $type-mono;
	font-size: .8rem;
	line-height: .9rem;
	width: 150px;
	opacity: .9;
	transition: opacity .1s ease-in-out;
	z-index: 8000;
	
	&:hover {
		opacity: 1;
	}
	
}

@mixin outline() {
	outline: 5px solid rgba(255,0,0,.9);
}

body.logged-in {
	
	.shame-status {
		padding: 1rem;
		background: #f00;
		margin-bottom: 2rem;
		color: #fff;
	}

	.shame-wrapper {
	
		position: relative;

		&.shamed-image {

			img {
				@include outline();
			}

			.shame-message {
				@include message();
			}

		}

		&.shamed-link {

			a {
				border-bottom: 5px solid #f00;
			}

			.shame-message {
				@include message();
				top: 2rem;
			}

		}

		&.shamed-duplicate-id {

			&>.shamed-element {
				@include outline();
			}

			&>.shame-message {
				@include message();
			}

		}
		
	}
			
		
}