/* ==============================
   SHAME
   ============================== */

body.logged-in {
	
	.shame-status {
		padding: 2rem 1rem;
		background: #ff4753;
		color: #fff;
		text-align: center;
		font-family: $type-sans;
		font-size: 1.25rem;
		font-weight: bold;
	}
	
	.shame-open-all-messages {
		
		position: relative;
		top: -2px;
		display: inline-block;
		margin-left: 20px;
		font-size: .9rem;
		padding: .4rem .5rem .2rem;
		border-radius: 3px;
		border: 1px solid #fff;
		
		&:hover {
			cursor: pointer;
		}
		
	}

	.shame-wrapper {
	
		position: relative;
		
		.shame-messages {
			
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			list-style-type: none;
			width: 150px;
			
		}
		
		.shame-message {
			
			position: relative;
			display: block;
			padding: .5rem;
			font-family: $type-sans;
			font-size: .8rem;
			line-height: 1rem;
			width: 100%;
			opacity: .9;
			transition: opacity .1s ease-in-out;
			z-index: 8000;
			margin: 0 0 2px;
			border-radius: 0 5px 5px;
			box-shadow: 0 0 .3rem rgba(0,0,0,.3);
			
			.shame-message-content {
				display: none;
				overflow: hidden;
				margin-top: 10px;
			}
			
			&:hover {
				opacity: 1;
				cursor: pointer;
			}
			
			&.open {
				
				opacity: 1;
				
				.shame-message-content {
					display: block;
				}
				
			}
			
		}
		
		.shame-icon {
			padding-left: 22px;
			text-transform: uppercase;
			height: 16px;
			line-height: 19px;
			font-weight: bold;
			background-image: url(images/errors.png);
			background-size: 16px auto;
			background-repeat: no-repeat;
		}
		
		.shamed-element {
			outline: 2px dotted #f0f;
		}
		
		.shame-type-error {
			
			border: 1px solid #C01C1C;
			border-top: 5px solid #C01C1C;
			background: #ff4753;
			color: #fff;
			
			.shame-icon {
				background-position: 0 0;
			}
			
		}
		
		.shame-type-warning {
			
			border: 1px solid #FF9F10;
			border-top: 5px solid #FF9F10;
			background: #fffc7b;
			color: #000;
			
			.shame-icon {
				background-position: 0 -16px;
			}
			
		}
		
		.shame-type-suggestion {
			
			border: 1px solid #1052FF;
			border-top: 5px solid #1052FF;
			background: #6495ff;
			color: #fff;
			
			.shame-icon {
				background-position: 0 -32px;
			}
			
		}

		&.shamed-font-tag,
		&.shamed-attribute,
		&[class*="shamed-tag"],
		&.shamed-link {

			.shame-messages {
				top: 2rem;
			}

		}
		
	}
	
	&.shame-open-all-messages .shame-wrapper .shame-message {
				
		opacity: 1;

		.shame-message-content {
			display: block;
		}

	}
			
		
}