/* ==============================
   SITEBAR
   ============================== */

#sitebanner {
    position: relative;
}

#sitebranding {
    & {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem 25px;
        color: #002147;
        box-sizing: border-box;
        transition: all .2s ease-in-out;
        z-index: 2;
    }
    h1 {
        font-family: $type-header;
        margin-bottom: 0;
        max-width: 100%;
        font-size: 1.8rem;
    }
    h1 a:visited {
        color: inherit;
    }
    .site-description {
        font-size: 1rem;
        font-family: $type-header;
        color: $darkgrey;
        padding-top: .5rem;
        padding-bottom: 0;
    }
} // #sitebranding


@media screen and (min-width: 1050px) {
    #sitebranding {
        width: 1000px;
        padding: 1rem 0;
        font-size: 2rem;
    }
} // min-width: 1050px