/* ==============================
   SITEBAR
   ============================== */

#sitebanner {
    position: relative;
    margin-bottom: 1px;
    z-index: 10;
}

#sitebanner.light {
    
    #siteidentity h1,
    #siteidentity h2 {
        color: $white;
    }
    
    #sb-screen {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.15);
    }
    
}

#sb-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#sb-background-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    background-position: center center;
    background-size: cover;
}

#sb-screen {
    display: none;
}

#sitebranding {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 25px;
    color: #002147;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    z-index: 2;
}

#siteidentity {
    
    h1 {
        font-family: $type-header;
        margin-bottom: 0;
        max-width: 100%;
        font-size: 1.8rem;
        color: $black;
    }
    
    h1 a,
    h1 a:visited {
        color: inherit;
    }
    
    h2 {
        font-size: 1.3rem;
        font-weight: 400;
        color: $black;
        padding-top: .5rem;
        margin: 0;
    }
    
} // #siteidentity

#sitesocial ul {
    font-size: initial;
    margin-top: 1rem;
}

@media screen and (min-width: $break1) {
    #sitebranding {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    #sitesocial ul {
        margin-top: 0;
    }
} // min-width: 600px

@media screen and (min-width: $break2) {
    #sitebanner {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1050px) {
    
    #sitebranding {
        width: 1000px;
        padding: 2.2rem 0;
        font-size: 2rem;
    }
    
} // min-width: 1050px