/* ==============================
   SITEBAR
   ============================== */

#sitebanner {
    position: relative;
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    border-top: 1px solid $white;
}

#sitebranding {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 25px;
    color: #002147;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    z-index: 2;
}

#siteidentity {
    
    h1 {
        font-family: $type-header;
        margin-bottom: 0;
        max-width: 100%;
        font-size: 1.8rem;
        color: $white;
    }
    
    h1 a:visited {
        color: inherit;
    }
    
    h2 {
        font-size: 1.3rem;
        font-weight: 400;
        color: $white;
        padding-top: .5rem;
        margin: 0;
    }
    
} // #siteidentity

#sitesocial {
    font-size: initial;
    margin-top: 1rem;
}

@media screen and (min-width: 600px) {
    #sitebranding {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    #sitesocial {
        margin-top: 0;
    }
} // min-width: 600px


@media screen and (min-width: 1050px) {
    
    #sitebranding {
        width: 1000px;
        padding: 2.2rem 0;
        font-size: 2rem;
    }
    
} // min-width: 1050px