/* ==============================
   SOCIAL BAR
   ============================== */

.socialbar {
    
    & {
        display: block;
        list-style: none;
        margin: 0;
    }
    
    li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    
    li:not(:first-child) {
        margin-left: 10px;
    }
    
    a {
        position: relative;
        top: 0;
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        padding-left: 20px;
        padding-bottom: 15px;
        background-image: url(images/socialbar-sprite.png);
        background-repeat: no-repeat;
        background-size: 20px auto;
        transition: top .1s ease-in-out;
    }
    
    a.sb-facebook {
        background-position: 0 0;
    }
    
    a.sb-instagram {
        background-position: 0 -15px;
    }
    
    a.sb-twitter {
        background-position: 0 -30px;
    }
    
    a.sb-linkedin {
        background-position: 0 -45px;
    }
    
    a:hover {
        top: -1px;
    }
    
    
} // .socialbar