/* ==============================
   STAGE
   ============================== */

body.stage {
    
    #stage {
        position: fixed;
        top: $brandbarheight;
        width: 100vw;
        left: 50%;
        margin-left: -50vw;
        z-index: 0;
        
        .stage-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 2;
			pointer-events: none;
        }
        
    }
    
    #masthead,
    #content,
	#region-after-content,
    #actionbar-wrapper,
    #globalfooter {
        position: relative;
        z-index: 10;
    }
    
    #content {
        background: $lightgrey;
        padding-top: 3rem;
        margin-top: 100vh;
    }
	
	#region-after-content {
		background: $lightgrey;
	}
    
    #masthead {
        position: fixed;
        width: 100vw;
        left: 50%;
        margin-left: -50vw;
        z-index: 9999;
    }
    
    #sb-backdrop,
    #navigation,
	#region-before-content {
        opacity: 0;
    }
    
    &.stage-initial #navigation {
        pointer-events: none;
    }
    
    &.stage-fluid #masthead {
        position: absolute;
        left: 0;
        margin-left: 0;
    }
    
}


    