/* ==============================
   TYPEOGRAPHY
   ============================== */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,600|Hind:400,600,700|Hind+Siliguri:300,400,600") all;

$header: 'Roboto', sans-serif;
$body: 'Hind Siliguri', sans-serif;

$maxtypewidth: 750px;

html {
    font-family: $body;
    font-weight: normal;
    font-size: 16px;
    color: $black;
}

body {
    font-size: 1.25rem;
}

h1 {
    font-family: $header;
    font-weight: 600;
    font-size: 1.875rem;
    margin-bottom: 2rem;
    max-width: 800px;
    color: $black;
}

h1.super {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

h2 {
    font-family: $header;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: $black;
    max-width: 800px;
}

h3 {
    font-family: $header;
    font-weight: 600;
    font-size: 1.3rem;
    color: $black;
    margin-bottom: 1.3rem;
}

h4 {
    font-family: $header;
    font-weight: 600;
    font-size: 1.2rem;
    color: $darkgrey;
    margin: 2.5rem 0 1.3rem;
}

h5 {
    font-family: $header;
    font-weight: 600;
    font-size: 1rem;
    color: $darkgrey;
    margin: 2.5rem 0 .8rem;
}

h6 {
    font-family: $header;
    font-weight: 300;
    font-size: 1rem;
    color: $darkgrey;
    margin: 2.5rem 0 .8rem;
}

p {
    max-width: $maxtypewidth;
    line-height: 1.875;
    padding-bottom: 1.875rem;
}

p:last-child {
    padding-bottom: 0;
}

a {
    color: $link;
    transition: color .1s ease-in-out;
}

a:hover,
a:focus {
    color: $linkhover;
}

hr {
    border: none;
    height: 1px;
    background: $grey;
    margin: 2rem 0;
}

abbr, acronym {
	border-bottom: 1px dotted $link;
	cursor: help;
} 

sup {
    vertical-align: super;
    font-size: 80%;
}

sub {
    vertical-align: sub;
    font-size: 80%;
}

cite {
    color: $darkgrey;
}

dl {
    margin-bottom: 2rem;
}

dt {
    font-weight: bold;
    margin-bottom: .5rem;
}

dd {
    margin-bottom: 1rem;
    text-indent: 1rem;
}

ol {
    list-style-type: decimal;
    margin: 0 0 2rem 2.5rem;
}

ol li {
    margin-bottom: .5rem;
}

ul {
    list-style-type: disc;
    margin: 0 0 2rem 2.5rem;
}

ul li {
    margin-bottom: .5rem;
}

li {
    max-width: $maxtypewidth;
    line-height: 1.5;
}

blockquote {
	font-style: italic;
	padding: 1rem 2rem;
}

blockquote cite {
	color: $darkgrey;
	display: block;
	font-size: .8rem;
	text-align: right;
	text-transform: uppercase;
}

blockquote cite:before {
	content: ' — ';
}