/* ==============================
   TYPEOGRAPHY
   ============================== */

html {
    font-family: $type-sans;
    font-weight: 400;
    font-size: 16px;
    color: var(--global-text-color);
	-webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.25rem;
}

h1 {
    font-family: $type-header;
    font-weight: 700;
    font-size: 2.5rem; //1.875rem;
    margin-bottom: 2.5rem; //2rem;
    max-width: 800px;
    color: var(--global-text-color);
}

h2 {
    font-family: $type-header;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--global-text-color);
    max-width: 800px;
}

h3 {
    font-family: $type-header;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--global-text-color);
    margin-bottom: 1.3rem;
}

h4 {
    font-family: $type-header;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--global-text-color-alt);
    margin: 2.5rem 0 1.3rem;
}

h5 {
    font-family: $type-header;
    font-weight: 700;
    font-size: 1rem;
    color: var(--global-text-color-alt);
    margin: 2.5rem 0 .8rem;
}

h6 {
    font-family: $type-header;
    font-weight: 400;
    font-size: 1rem;
    color: var(--global-text-color-alt);
    margin: 2.5rem 0 .8rem;
}

.entry-content,
.type-serif {
    font-family: $type-serif;
}

.type-numeric {
    font-family: $type-numeric;
}

.type-sans {
    font-family: $type-sans;
}

.type-intro,
.section-intro p {
    font-family: $type-sans;
    font-size: 1.5rem;
    font-weight: 300;
}

.type-mono {
	font-family: $type-mono;
	font-size: .95rem;
}

.no-wrap {
    white-space: nowrap;
}

b,
strong {
    font-weight: 600;
}

i,
em {
    font-style: italic;
}

p {
    max-width: $maxtypewidth;
    line-height: 1.875;
    margin: 0 0 2rem;
}

.fullwidth {

    max-width: 100%;

	p,
	li {
		max-width: 100%;
	}

}

p:empty {
    display: none;
}

a {
    color: $link;
    transition: color .1s ease-in-out;
}

a:hover,
a:focus {
    color: $linkhover;
}

hr {
    border: none;
    height: 1px;
    background: $grey;
    margin: 2rem 0;
}

abbr, acronym {
	border-bottom: 1px dotted $link;
	cursor: help;
}

sup {
    position: relative;
    top: -.35em;
    font-size: .75em;
}

sub {
    position: relative;
    top: .25em;
    font-size: .75em;
}

small {
    font-size: .85em;
}

big {
    font-size: 1.15em;
}

cite {
    color: $darkgrey;
}

dl {
    margin-bottom: 2rem;
}

dt {
    font-weight: bold;
    margin-bottom: .5rem;
}

dd {
    margin-bottom: 1rem;
    text-indent: 1rem;
}

ol {
    list-style-type: decimal;
    margin: 0 0 2rem 2.5rem;
}

ol li {
    margin-bottom: .5rem;
}

ul {
    list-style-type: disc;
    margin: 0 0 2rem 2.5rem;
}

ul li {
    margin-bottom: .5rem;
}

li {
    max-width: $maxtypewidth;
    line-height: 1.5;
}

blockquote {
	font-style: italic;
	padding: 1rem 2rem;
}

blockquote cite {
	color: $darkgrey;
	display: block;
	font-size: .8rem;
	text-align: right;
	text-transform: uppercase;
}

blockquote cite:before {
	content: ' — ';
}

.pullquote {
	width: 100%;
	max-width: 400px;
	border-top: 10px solid $accentblue;
	margin: 2rem auto 0;
	box-sizing: border-box;
}
.pullquote cite {
	font-family: $type-sans;
	text-align: left;
	margin-top: 1rem;
	max-width: 300px;
	position: relative;
	padding-top: .5rem;
}

.pullquote cite:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 40px;
	height: 1px;
	background: $grey;
}

@media all and (min-width: $break2) {
	.pullquote {
		width: 400px;
		float: right;
		padding: 1rem 0;
		margin: 1rem 0 1rem 3rem;
	}
}

.localist-widget-hl {
	overflow: auto;
}


/* SECTIONS */

.section-intro {

    text-align: center;
    margin-bottom: 3rem;

    h1 {
        font-size: 2.5rem;
        margin: 0 auto 2rem;
    }

    p {
        max-width: 650px;
        margin: 0 auto 2rem;
    }

}

@media print {
	html{
		font-size: 14px;
	}
	p {
		max-width: 100%;
	}
}


/* FEATURES */

.feature-caption {
	font-size: .9rem;
	color: #555;
	padding: 0 0 1rem;
	max-width: 360px;
	line-height: 125%;
	margin-bottom: 2rem;
}

.feature-caption:after {
	display: block;
	content: '';
	width: 100px;
	height: 1px;
	background: #ccc;
	margin-top: 1rem;
}

.feature-caption p {
	margin-bottom: 1rem;
}

.feature-caption .credit {
	color: #999;
	font-size: .8rem;
	margin: .5rem 0 1rem;
}
