/* ==============================
   WIDGET AREAS
   ============================== */

.widgets {
    padding-bottom: 2rem;
}

.page-template-page-external-landing {
    
    .widgets {
        padding-top: 2rem;
    }
    
}

.region-banner.widgets {
    padding: 0 !important;
}