/* ==============================
   WIDGET AREAS
   ============================== */

.widgets {
    margin-bottom: 2rem;
}

.page-template-page-external-landing {
    
    .widgets {
        margin-top: 2rem;
    }
    
}

.region-banner.widgets {
    margin: 0 !important;
}